<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/mat/tests/ex252.c">Actual source code: ex252.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:44+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static char help[] = <font color="#666666">"Test <a href="../../../manualpages/Mat/MatZeroEntries.html">MatZeroEntries</a>() on unassembled matrices \n\n"</font>;

<a name="line3">  3: </a>#include <A href="../../../include/petscmat.h.html">&lt;petscmat.h&gt;</A>

<a name="line5">  5: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **args)</font></strong>
<a name="line6">  6: </a>{
<a name="line7">  7: </a>  <a href="../../../manualpages/Mat/Mat.html">Mat</a>      A;
<a name="line8">  8: </a>  <a href="../../../manualpages/Sys/PetscInt.html">PetscInt</a> N = 32;
<a name="line9">  9: </a>  <a href="../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a> comm;

<a name="line11"> 11: </a>  <a href="../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line12"> 12: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;args, NULL, help));
<a name="line13"> 13: </a>  comm = <a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>;
<a name="line14"> 14: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscOptionsGetInt.html">PetscOptionsGetInt</a>(NULL, NULL, <font color="#666666">"-N"</font>, &amp;N, NULL));
<a name="line15"> 15: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatCreate.html">MatCreate</a>(comm, &amp;A));
<a name="line16"> 16: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatSetSizes.html">MatSetSizes</a>(A, <a href="../../../manualpages/Sys/PETSC_DECIDE.html">PETSC_DECIDE</a>, <a href="../../../manualpages/Sys/PETSC_DECIDE.html">PETSC_DECIDE</a>, N, N));
<a name="line17"> 17: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatSetFromOptions.html">MatSetFromOptions</a>(A));
<a name="line18"> 18: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatSeqAIJSetPreallocation.html">MatSeqAIJSetPreallocation</a>(A, 3, NULL));
<a name="line19"> 19: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatMPIAIJSetPreallocation.html">MatMPIAIJSetPreallocation</a>(A, 3, NULL, 2, NULL));
<a name="line20"> 20: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatZeroEntries.html">MatZeroEntries</a>(A));
<a name="line21"> 21: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatDestroy.html">MatDestroy</a>(&amp;A));
<a name="line22"> 22: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line23"> 23: </a>  <font color="#4169E1">return</font> 0;
<a name="line24"> 24: </a>}

<a name="line26"> 26: </a><font color="#B22222">/*TEST</font>
<a name="line27"> 27: </a><font color="#B22222">   test:</font>
<a name="line28"> 28: </a><font color="#B22222">      requires: kokkos_kernels</font>
<a name="line29"> 29: </a><font color="#B22222">      nsize: {{1 2}}</font>
<a name="line30"> 30: </a><font color="#B22222">      output_file: output/ex252_1.out</font>
<a name="line31"> 31: </a><font color="#B22222">      args: -mat_type aijkokkos</font>
<a name="line32"> 32: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

