<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/mat/tests/ex265.c">Actual source code: ex265.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:44+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static char help[] = <font color="#666666">"Tests inserting new block into SBAIJ and BAIJ matrix \n "</font>;

<a name="line3">  3: </a>#include <A href="../../../include/petscdmda.h.html">&lt;petscdmda.h&gt;</A>

<a name="line5">  5: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line6">  6: </a>{
<a name="line7">  7: </a>  <a href="../../../manualpages/DM/DM.html">DM</a>          dm;
<a name="line8">  8: </a>  <a href="../../../manualpages/Mat/Mat.html">Mat</a>         A;
<a name="line9">  9: </a>  <a href="../../../manualpages/Sys/PetscInt.html">PetscInt</a>    idm = 0, idn = 8;
<a name="line10"> 10: </a>  <a href="../../../manualpages/Sys/PetscScalar.html">PetscScalar</a> v[] = {1, 2, 3, 4};

<a name="line12"> 12: </a>  <a href="../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line13"> 13: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line14"> 14: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/DMDA/DMDACreate2d.html">DMDACreate2d</a>(<a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../manualpages/DM/DMBoundaryType.html">DM_BOUNDARY_NONE</a>, <a href="../../../manualpages/DM/DMBoundaryType.html">DM_BOUNDARY_NONE</a>, <a href="../../../manualpages/DMDA/DMDAStencilType.html">DMDA_STENCIL_STAR</a>, 4, 4, <a href="../../../manualpages/Sys/PETSC_DECIDE.html">PETSC_DECIDE</a>, <a href="../../../manualpages/Sys/PETSC_DECIDE.html">PETSC_DECIDE</a>, 2, 1, NULL, NULL, &amp;dm));
<a name="line15"> 15: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/DM/DMSetFromOptions.html">DMSetFromOptions</a>(dm));
<a name="line16"> 16: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/DM/DMSetUp.html">DMSetUp</a>(dm));
<a name="line17"> 17: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/DM/DMCreateMatrix.html">DMCreateMatrix</a>(dm, &amp;A));
<a name="line18"> 18: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatSetOption.html">MatSetOption</a>(A, <a href="../../../manualpages/Mat/MatOption.html">MAT_NEW_NONZERO_LOCATION_ERR</a>, <a href="../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>));
<a name="line19"> 19: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatSetValuesBlocked.html">MatSetValuesBlocked</a>(A, 1, &amp;idm, 1, &amp;idn, v, <a href="../../../manualpages/Sys/INSERT_VALUES.html">INSERT_VALUES</a>));
<a name="line20"> 20: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatAssemblyBegin.html">MatAssemblyBegin</a>(A, <a href="../../../manualpages/Mat/MatAssemblyType.html">MAT_FINAL_ASSEMBLY</a>));
<a name="line21"> 21: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatAssemblyEnd.html">MatAssemblyEnd</a>(A, <a href="../../../manualpages/Mat/MatAssemblyType.html">MAT_FINAL_ASSEMBLY</a>));
<a name="line22"> 22: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Mat/MatDestroy.html">MatDestroy</a>(&amp;A));
<a name="line23"> 23: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/DM/DMDestroy.html">DMDestroy</a>(&amp;dm));
<a name="line24"> 24: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line25"> 25: </a>  <font color="#4169E1">return</font> 0;
<a name="line26"> 26: </a>}

<a name="line28"> 28: </a><font color="#B22222">/*TEST</font>

<a name="line30"> 30: </a><font color="#B22222">   test:</font>
<a name="line31"> 31: </a><font color="#B22222">      args: -dm_mat_type {{aij baij sbaij}separate output} -mat_view</font>

<a name="line33"> 33: </a><font color="#B22222">   test:</font>
<a name="line34"> 34: </a><font color="#B22222">     suffix: 2</font>
<a name="line35"> 35: </a><font color="#B22222">     nsize: 2</font>
<a name="line36"> 36: </a><font color="#B22222">     args: -dm_mat_type {{aij baij sbaij}separate output} -mat_view</font>

<a name="line38"> 38: </a><font color="#B22222">   test:</font>
<a name="line39"> 39: </a><font color="#B22222">     suffix: 3</font>
<a name="line40"> 40: </a><font color="#B22222">     nsize: 3</font>
<a name="line41"> 41: </a><font color="#B22222">     args: -dm_mat_type {{aij baij sbaij}separate output} -mat_view</font>

<a name="line43"> 43: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

