<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/sys/classes/draw/impls/tikz/tikz.c">Actual source code: tikz.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:47+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a><font color="#B22222">/*</font>
<a name="line2">  2: </a><font color="#B22222">    Defines the operations for the TikZ <a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> implementation.</font>
<a name="line3">  3: </a><font color="#B22222">*/</font>

<a name="line5">  5: </a>#include <A href="../../../../include/petsc/private/drawimpl.h.html">&lt;petsc/private/drawimpl.h&gt;</A>

<a name="line7">  7: </a><font color="#4169E1">typedef</font> <font color="#4169E1">struct</font> {
<a name="line8">  8: </a>  char     *filename;
<a name="line9">  9: </a>  FILE     *fd;
<a name="line10"> 10: </a>  <a href="../../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> written; <font color="#B22222">/* something has been written to the current frame */</font>
<a name="line11"> 11: </a>} PetscDraw_TikZ;

<a name="line13"> 13: </a><strong><font color="#228B22">#define TikZ_BEGIN_DOCUMENT \</font></strong>
<a name="line14"> 14: </a><strong><font color="#228B22">  </font><font color="#666666">"\\documentclass{beamer}\n\n\</font></strong>
<a name="line15"> 15: </a><strong><font color="#666666">\\usepackage{tikz}\n\</font></strong>
<a name="line16"> 16: </a><strong><font color="#666666">\\usepackage{pgflibraryshapes}\n\</font></strong>
<a name="line17"> 17: </a><strong><font color="#666666">\\usetikzlibrary{backgrounds}\n\</font></strong>
<a name="line18"> 18: </a><strong><font color="#666666">\\usetikzlibrary{arrows}\n\</font></strong>
<a name="line19"> 19: </a><strong><font color="#666666">\\newenvironment{changemargin}[2]{%%\n\</font></strong>
<a name="line20"> 20: </a><strong><font color="#666666">  \\begin{list}{}{%%\n\</font></strong>
<a name="line21"> 21: </a><strong><font color="#666666">    \\setlength{\\topsep}{0pt}%%\n\</font></strong>
<a name="line22"> 22: </a><strong><font color="#666666">    \\setlength{\\leftmargin}{#1}%%\n\</font></strong>
<a name="line23"> 23: </a><strong><font color="#666666">    \\setlength{\\rightmargin}{#2}%%\n\</font></strong>
<a name="line24"> 24: </a><strong><font color="#666666">    \\setlength{\\listparindent}{\\parindent}%%\n\</font></strong>
<a name="line25"> 25: </a><strong><font color="#666666">    \\setlength{\\itemindent}{\\parindent}%%\n\</font></strong>
<a name="line26"> 26: </a><strong><font color="#666666">    \\setlength{\\parsep}{\\parskip}%%\n\</font></strong>
<a name="line27"> 27: </a><strong><font color="#666666">  }%%\n\</font></strong>
<a name="line28"> 28: </a><strong><font color="#666666">  \\item[]}{\\end{list}}\n\n\</font></strong>
<a name="line29"> 29: </a><strong><font color="#666666">\\begin{document}\n"</font><font color="#228B22"></font></strong>

<a name="line31"> 31: </a><strong><font color="#228B22">#define TikZ_BEGIN_FRAME \</font></strong>
<a name="line32"> 32: </a><strong><font color="#228B22">  </font><font color="#666666">"\\begin{frame}{}\n\</font></strong>
<a name="line33"> 33: </a><strong><font color="#666666">\\begin{changemargin}{-1cm}{0cm}\n\</font></strong>
<a name="line34"> 34: </a><strong><font color="#666666">\\begin{center}\n\</font></strong>
<a name="line35"> 35: </a><strong><font color="#666666">\\begin{tikzpicture}[scale = 10.00,font=\\fontsize{8}{8}\\selectfont]\n"</font><font color="#228B22"></font></strong>

<a name="line37"> 37: </a><strong><font color="#228B22">#define TikZ_END_FRAME \</font></strong>
<a name="line38"> 38: </a><strong><font color="#228B22">  </font><font color="#666666">"\\end{tikzpicture}\n\</font></strong>
<a name="line39"> 39: </a><strong><font color="#666666">\\end{center}\n\</font></strong>
<a name="line40"> 40: </a><strong><font color="#666666">\\end{changemargin}\n\</font></strong>
<a name="line41"> 41: </a><strong><font color="#666666">\\end{frame}\n"</font><font color="#228B22"></font></strong>

<a name="line43"> 43: </a><strong><font color="#228B22">#define TikZ_END_DOCUMENT </font><font color="#666666">"\\end{document}\n"</font><font color="#228B22"></font></strong>

<a name="line45"> 45: </a><strong><font color="#4169E1"><a name="PetscDrawDestroy_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawDestroy_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw)</font></strong>
<a name="line46"> 46: </a>{
<a name="line47"> 47: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;

<a name="line49"> 49: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line50"> 50: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_END_FRAME));
<a name="line51"> 51: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_END_DOCUMENT));
<a name="line52"> 52: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFClose.html">PetscFClose</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd));
<a name="line53"> 53: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(win-&gt;filename));
<a name="line54"> 54: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(draw-&gt;data));
<a name="line55"> 55: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line56"> 56: </a>}

<a name="line58"> 58: </a>static const char *TikZColors[] = {<font color="#666666">"white"</font>, <font color="#666666">"black"</font>, <font color="#666666">"red"</font>, <font color="#666666">"green"</font>, <font color="#666666">"cyan"</font>, <font color="#666666">"blue"</font>, <font color="#666666">"magenta"</font>, NULL, NULL, <font color="#666666">"orange"</font>, <font color="#666666">"violet"</font>, <font color="#666666">"brown"</font>, <font color="#666666">"pink"</font>, NULL, <font color="#666666">"yellow"</font>, NULL};

<a name="line60"> 60: </a><strong><font color="#4169E1"><a name="TikZColorMap"></a>static inline const char *TikZColorMap(int cl)</font></strong>
<a name="line61"> 61: </a>{
<a name="line62"> 62: </a>  <font color="#4169E1">return</font> (cl &lt; 16) ? (TikZColors[cl] ? TikZColors[cl] : <font color="#666666">"black"</font>) : <font color="#666666">"black"</font>;
<a name="line63"> 63: </a>}

<a name="line65"> 65: </a><font color="#B22222">/*</font>
<a name="line66"> 66: </a><font color="#B22222">     These macros transform from the users coordinates to the (0,0) -&gt; (1,1) coordinate system</font>
<a name="line67"> 67: </a><font color="#B22222">*/</font>
<a name="line68"> 68: </a><strong><font color="#228B22">#define XTRANS(draw, x) (double)((draw)-&gt;port_xl + (((x - (draw)-&gt;coor_xl) * ((draw)-&gt;port_xr - (draw)-&gt;port_xl)) / ((draw)-&gt;coor_xr - (draw)-&gt;coor_xl)))</font></strong>
<a name="line69"> 69: </a><strong><font color="#228B22">#define YTRANS(draw, y) (double)((draw)-&gt;port_yl + (((y - (draw)-&gt;coor_yl) * ((draw)-&gt;port_yr - (draw)-&gt;port_yl)) / ((draw)-&gt;coor_yr - (draw)-&gt;coor_yl)))</font></strong>

<a name="line71"> 71: </a><strong><font color="#4169E1"><a name="PetscDrawClear_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawClear_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw)</font></strong>
<a name="line72"> 72: </a>{
<a name="line73"> 73: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;
<a name="line74"> 74: </a>  <a href="../../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>       written;

<a name="line76"> 76: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line77"> 77: </a>  <font color="#B22222">/* often PETSc generates unneeded clears, we want avoid creating empty pictures for them */</font>
<a name="line78"> 78: </a>  <a href="../../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="../../../../../../manualpages/Sys/MPIU_Allreduce.html">MPIU_Allreduce</a>(&amp;win-&gt;written, &amp;written, 1, MPIU_BOOL, MPI_LOR, <a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw)));
<a name="line79"> 79: </a>  <font color="#4169E1">if</font> (!written) <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line80"> 80: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_END_FRAME));
<a name="line81"> 81: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_BEGIN_FRAME));
<a name="line82"> 82: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line83"> 83: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line84"> 84: </a>}

<a name="line86"> 86: </a><strong><font color="#4169E1"><a name="PetscDrawLine_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawLine_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xr, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yr, int cl)</font></strong>
<a name="line87"> 87: </a>{
<a name="line88"> 88: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;

<a name="line90"> 90: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line91"> 91: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line92"> 92: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\draw [%s] (%g,%g) --(%g,%g);\n"</font>, TikZColorMap(cl), XTRANS(draw, xl), YTRANS(draw, yl), XTRANS(draw, xr), YTRANS(draw, yr)));
<a name="line93"> 93: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line94"> 94: </a>}

<a name="line96"> 96: </a><strong><font color="#4169E1"><a name="PetscDrawRectangle_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawRectangle_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xr, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yr, int c1, int c2, int c3, int c4)</font></strong>
<a name="line97"> 97: </a>{
<a name="line98"> 98: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;

<a name="line100">100: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line101">101: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line102">102: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\fill [bottom color=%s,top color=%s] (%g,%g) rectangle (%g,%g);\n"</font>, TikZColorMap(c1), TikZColorMap(c4), XTRANS(draw, xl), YTRANS(draw, yl), XTRANS(draw, xr), YTRANS(draw, yr)));
<a name="line103">103: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line104">104: </a>}

<a name="line106">106: </a><strong><font color="#4169E1"><a name="PetscDrawTriangle_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawTriangle_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> x1, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> y1, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> x2, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> y2, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> x3, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> y3, int c1, int c2, int c3)</font></strong>
<a name="line107">107: </a>{
<a name="line108">108: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;

<a name="line110">110: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line111">111: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line112">112: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\fill [color=%s] (%g,%g) -- (%g,%g) -- (%g,%g) -- cycle;\n"</font>, TikZColorMap(c1), XTRANS(draw, x1), YTRANS(draw, y1), XTRANS(draw, x2), YTRANS(draw, y2), XTRANS(draw, x3), YTRANS(draw, y3)));
<a name="line113">113: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line114">114: </a>}

<a name="line116">116: </a><strong><font color="#4169E1"><a name="PetscDrawEllipse_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawEllipse_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> x, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> y, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> a, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> b, int c)</font></strong>
<a name="line117">117: </a>{
<a name="line118">118: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;
<a name="line119">119: </a>  <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       rx, ry;

<a name="line121">121: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line122">122: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line123">123: </a>  rx           = a / 2 * (draw-&gt;port_xr - draw-&gt;port_xl) / (draw-&gt;coor_xr - draw-&gt;coor_xl);
<a name="line124">124: </a>  ry           = b / 2 * (draw-&gt;port_yr - draw-&gt;port_yl) / (draw-&gt;coor_yr - draw-&gt;coor_yl);
<a name="line125">125: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\fill [color=%s] (%g,%g) circle [x radius=%g,y radius=%g];\n"</font>, TikZColorMap(c), XTRANS(draw, x), YTRANS(draw, y), (double)rx, (double)ry));
<a name="line126">126: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line127">127: </a>}

<a name="line129">129: </a><strong><font color="#4169E1"><a name="PetscDrawString_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawString_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yl, int cl, const char text[])</font></strong>
<a name="line130">130: </a>{
<a name="line131">131: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;

<a name="line133">133: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line134">134: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line135">135: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\node [above right, %s] at (%g,%g) {%s};\n"</font>, TikZColorMap(cl), XTRANS(draw, xl), YTRANS(draw, yl), text));
<a name="line136">136: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line137">137: </a>}

<a name="line139">139: </a><strong><font color="#4169E1"><a name="PetscDrawStringVertical_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawStringVertical_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yl, int cl, const char text[])</font></strong>
<a name="line140">140: </a>{
<a name="line141">141: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;
<a name="line142">142: </a>  size_t          len;
<a name="line143">143: </a>  <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       width;

<a name="line145">145: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line146">146: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line147">147: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscStrlen.html">PetscStrlen</a>(text, &amp;len));
<a name="line148">148: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Draw/PetscDrawStringGetSize.html">PetscDrawStringGetSize</a>(draw, &amp;width, NULL));
<a name="line149">149: </a>  yl = yl - ((<a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a>)len) * width * (draw-&gt;coor_yr - draw-&gt;coor_yl) / (draw-&gt;coor_xr - draw-&gt;coor_xl);
<a name="line150">150: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\node [rotate=90, %s] at (%g,%g) {%s};\n"</font>, TikZColorMap(cl), XTRANS(draw, xl), YTRANS(draw, yl), text));
<a name="line151">151: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line152">152: </a>}

<a name="line154">154: </a><font color="#B22222">/*</font>
<a name="line155">155: </a><font color="#B22222">    Does not handle multiline strings correctly</font>
<a name="line156">156: </a><font color="#B22222">*/</font>
<a name="line157">157: </a><strong><font color="#4169E1"><a name="PetscDrawStringBoxed_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawStringBoxed_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> xl, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> yl, int cl, int ct, const char text[], <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *w, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *h)</font></strong>
<a name="line158">158: </a>{
<a name="line159">159: </a>  PetscDraw_TikZ *win = (PetscDraw_TikZ *)draw-&gt;data;
<a name="line160">160: </a>  size_t          len;

<a name="line162">162: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line163">163: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line164">164: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, <font color="#666666">"\\draw (%g,%g) node [rectangle, draw, align=center, inner sep=1ex] {%s};\n"</font>, XTRANS(draw, xl), YTRANS(draw, yl), text));

<a name="line166">166: </a>  <font color="#B22222">/* make up totally bogus height and width of box */</font>
<a name="line167">167: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscStrlen.html">PetscStrlen</a>(text, &amp;len));
<a name="line168">168: </a>  <font color="#4169E1">if</font> (w) *w = .07 * (<a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a>)len;
<a name="line169">169: </a>  <font color="#4169E1">if</font> (h) *h = .07;
<a name="line170">170: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line171">171: </a>}

<a name="line173">173: </a><strong><font color="#4169E1"><a name="PetscDrawStringGetSize_TikZ"></a>static <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawStringGetSize_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *x, <a href="../../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *y)</font></strong>
<a name="line174">174: </a>{
<a name="line175">175: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line176">176: </a>  <font color="#4169E1">if</font> (x) *x = .014 * (draw-&gt;coor_xr - draw-&gt;coor_xl) / (draw-&gt;port_xr - draw-&gt;port_xl);
<a name="line177">177: </a>  <font color="#4169E1">if</font> (y) *y = .05 * (draw-&gt;coor_yr - draw-&gt;coor_yl) / (draw-&gt;port_yr - draw-&gt;port_yl);
<a name="line178">178: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line179">179: </a>}

<a name="line181">181: </a>static <font color="#4169E1">struct _PetscDrawOps</font> DvOps = {NULL, NULL, PetscDrawLine_TikZ, NULL, NULL, NULL, NULL, PetscDrawString_TikZ, PetscDrawStringVertical_TikZ, NULL, PetscDrawStringGetSize_TikZ, NULL, PetscDrawClear_TikZ, PetscDrawRectangle_TikZ, PetscDrawTriangle_TikZ, PetscDrawEllipse_TikZ, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, PetscDrawDestroy_TikZ, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, PetscDrawStringBoxed_TikZ, NULL};

<a name="line183">183: </a><strong><font color="#4169E1"><a name="PetscDrawCreate_TikZ"></a>PETSC_EXTERN <a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscDrawCreate_TikZ(<a href="../../../../../../manualpages/Draw/PetscDraw.html">PetscDraw</a> draw)</font></strong>
<a name="line184">184: </a>{
<a name="line185">185: </a>  PetscDraw_TikZ *win;

<a name="line187">187: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line188">188: </a>  draw-&gt;ops[0] = DvOps;
<a name="line189">189: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscNew.html">PetscNew</a>(&amp;win));

<a name="line191">191: </a>  draw-&gt;data = (void *)win;

<a name="line193">193: </a>  <font color="#4169E1">if</font> (draw-&gt;title) {
<a name="line194">194: </a>    <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscStrallocpy.html">PetscStrallocpy</a>(draw-&gt;title, &amp;win-&gt;filename));
<a name="line195">195: </a>  } <font color="#4169E1">else</font> {
<a name="line196">196: </a>    const char *fname;
<a name="line197">197: </a>    <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscObjectGetName.html">PetscObjectGetName</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw, &amp;fname));
<a name="line198">198: </a>    <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscStrallocpy.html">PetscStrallocpy</a>(fname, &amp;win-&gt;filename));
<a name="line199">199: </a>  }
<a name="line200">200: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFOpen.html">PetscFOpen</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;filename, <font color="#666666">"w"</font>, &amp;win-&gt;fd));
<a name="line201">201: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_BEGIN_DOCUMENT));
<a name="line202">202: </a>  <a href="../../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)draw), win-&gt;fd, TikZ_BEGIN_FRAME));

<a name="line204">204: </a>  win-&gt;written = <a href="../../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line205">205: </a>  <a href="../../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line206">206: </a>}
</pre>
</body>

</html>

