<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/vec/is/tests/ex2.c">Actual source code: ex2.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:58+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static char help[] = <font color="#666666">"Tests <a href="../../../../manualpages/IS/ISView.html">ISView</a>() and <a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>() \n\n"</font>;

<a name="line3">  3: </a>#include <A href="../../../../include/petscis.h.html">&lt;petscis.h&gt;</A>
<a name="line4">  4: </a>#include <A href="../../../../include/petscviewer.h.html">&lt;petscviewer.h&gt;</A>

<a name="line6">  6: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line7">  7: </a>{
<a name="line8">  8: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> n           = 3, *izero, j, i;
<a name="line9">  9: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> ix[3][3][3] = {
<a name="line10"> 10: </a>    {{3, 5, 4}, {1, 7, 9}, {0, 2, 8}},
<a name="line11"> 11: </a>    {{0, 2, 8}, {3, 5, 4}, {1, 7, 9}},
<a name="line12"> 12: </a>    {{1, 7, 9}, {0, 2, 8}, {3, 5, 4}}
<a name="line13"> 13: </a>  };
<a name="line14"> 14: </a>  <a href="../../../../manualpages/IS/IS.html">IS</a>          isx[3], il;
<a name="line15"> 15: </a>  <a href="../../../../manualpages/Sys/PetscMPIInt.html">PetscMPIInt</a> size, rank;
<a name="line16"> 16: </a>  <a href="../../../../manualpages/Viewer/PetscViewer.html">PetscViewer</a> vx, vl;
<a name="line17"> 17: </a>  <a href="../../../../manualpages/Sys/PetscBool.html">PetscBool</a>   equal;

<a name="line19"> 19: </a>  <a href="../../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line20"> 20: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line21"> 21: </a>  <a href="../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_rank.html#MPI_Comm_rank">MPI_Comm_rank</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, &amp;rank));
<a name="line22"> 22: </a>  <a href="../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_size.html#MPI_Comm_size">MPI_Comm_size</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, &amp;size));
<a name="line23"> 23: </a>  <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(size &lt; 4, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_WRONG_MPI_SIZE</a>, <font color="#666666">"Example only works with up to three processes"</font>);

<a name="line25"> 25: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscCalloc1.html">PetscCalloc1</a>(size * n, &amp;izero));
<a name="line26"> 26: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, n, ix[i][rank], <a href="../../../../manualpages/Sys/PetscCopyMode.html">PETSC_COPY_VALUES</a>, &amp;isx[i]));

<a name="line28"> 28: </a>  <font color="#4169E1">for</font> (j = 0; j &lt; 3; j++) {
<a name="line29"> 29: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_WRITE</a>, &amp;vx));
<a name="line30"> 30: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISView.html">ISView</a>(isx[0], vx));
<a name="line31"> 31: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vx));

<a name="line33"> 33: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_READ</a>, &amp;vl));
<a name="line34"> 34: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreate.html">ISCreate</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, &amp;il));
<a name="line35"> 35: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>(il, vl));
<a name="line36"> 36: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISEqual.html">ISEqual</a>(il, isx[0], &amp;equal));
<a name="line37"> 37: </a>    <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(equal, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Iteration %"</font> PetscInt_FMT <font color="#666666">" - Index set loaded from file does not match"</font>, j);
<a name="line38"> 38: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;il));
<a name="line39"> 39: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vl));

<a name="line41"> 41: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_APPEND</a>, &amp;vx));
<a name="line42"> 42: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISView.html">ISView</a>(isx[1], vx));
<a name="line43"> 43: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISView.html">ISView</a>(isx[2], vx));
<a name="line44"> 44: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vx));

<a name="line46"> 46: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_READ</a>, &amp;vl));
<a name="line47"> 47: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) {
<a name="line48"> 48: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreate.html">ISCreate</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, &amp;il));
<a name="line49"> 49: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>(il, vl));
<a name="line50"> 50: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISEqual.html">ISEqual</a>(il, isx[i], &amp;equal));
<a name="line51"> 51: </a>      <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(equal, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Iteration %"</font> PetscInt_FMT <font color="#666666">" - Index set %"</font> PetscInt_FMT <font color="#666666">" loaded from file does not match"</font>, j, i);
<a name="line52"> 52: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;il));
<a name="line53"> 53: </a>    }
<a name="line54"> 54: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vl));

<a name="line56"> 56: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_READ</a>, &amp;vl));
<a name="line57"> 57: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) {
<a name="line58"> 58: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, n, izero, <a href="../../../../manualpages/Sys/PetscCopyMode.html">PETSC_COPY_VALUES</a>, &amp;il));
<a name="line59"> 59: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>(il, vl));
<a name="line60"> 60: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISEqual.html">ISEqual</a>(il, isx[i], &amp;equal));
<a name="line61"> 61: </a>      <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(equal, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Iteration %"</font> PetscInt_FMT <font color="#666666">" - Index set %"</font> PetscInt_FMT <font color="#666666">" loaded from file does not match"</font>, j, i);
<a name="line62"> 62: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;il));
<a name="line63"> 63: </a>    }
<a name="line64"> 64: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vl));
<a name="line65"> 65: </a>  }

<a name="line67"> 67: </a>  <font color="#4169E1">for</font> (j = 0; j &lt; 3; j++) {
<a name="line68"> 68: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile_noheader"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_WRITE</a>, &amp;vx));
<a name="line69"> 69: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinarySetSkipHeader.html">PetscViewerBinarySetSkipHeader</a>(vx, <a href="../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>));
<a name="line70"> 70: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISView.html">ISView</a>(isx[i], vx));
<a name="line71"> 71: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vx));

<a name="line73"> 73: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"testfile_noheader"</font>, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_READ</a>, &amp;vl));
<a name="line74"> 74: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinarySetSkipHeader.html">PetscViewerBinarySetSkipHeader</a>(vl, <a href="../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>));
<a name="line75"> 75: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) {
<a name="line76"> 76: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, n, izero, <a href="../../../../manualpages/Sys/PetscCopyMode.html">PETSC_COPY_VALUES</a>, &amp;il));
<a name="line77"> 77: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>(il, vl));
<a name="line78"> 78: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISEqual.html">ISEqual</a>(il, isx[i], &amp;equal));
<a name="line79"> 79: </a>      <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(equal, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Iteration %"</font> PetscInt_FMT <font color="#666666">" - Index set %"</font> PetscInt_FMT <font color="#666666">" loaded from file does not match"</font>, j, i);
<a name="line80"> 80: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;il));
<a name="line81"> 81: </a>    }
<a name="line82"> 82: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vl));
<a name="line83"> 83: </a>  }

<a name="line85"> 85: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;isx[i]));

<a name="line87"> 87: </a>  <font color="#4169E1">for</font> (j = 0; j &lt; 2; j++) {
<a name="line88"> 88: </a>    const char *filename  = (j == 0) ? <font color="#666666">"testfile_isstride"</font> : <font color="#666666">"testfile_isblock"</font>;
<a name="line89"> 89: </a>    <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>    blocksize = (j == 0) ? 1 : size;
<a name="line90"> 90: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, filename, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_WRITE</a>, &amp;vx));
<a name="line91"> 91: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) {
<a name="line92"> 92: </a>      <font color="#4169E1">if</font> (j == 0) {
<a name="line93"> 93: </a>        <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateStride.html">ISCreateStride</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, n, rank, rank + 1, &amp;isx[i]));
<a name="line94"> 94: </a>      } <font color="#4169E1">else</font> {
<a name="line95"> 95: </a>        <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateBlock.html">ISCreateBlock</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, blocksize, n, ix[i][rank], <a href="../../../../manualpages/Sys/PetscCopyMode.html">PETSC_COPY_VALUES</a>, &amp;isx[i]));
<a name="line96"> 96: </a>      }
<a name="line97"> 97: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISView.html">ISView</a>(isx[i], vx));
<a name="line98"> 98: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISToGeneral.html">ISToGeneral</a>(isx[i]));
<a name="line99"> 99: </a>    }
<a name="line100">100: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vx));
<a name="line101">101: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerBinaryOpen.html">PetscViewerBinaryOpen</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, filename, <a href="../../../../manualpages/Sys/PetscFileMode.html">FILE_MODE_READ</a>, &amp;vl));
<a name="line102">102: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) {
<a name="line103">103: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, blocksize * n, izero, <a href="../../../../manualpages/Sys/PetscCopyMode.html">PETSC_COPY_VALUES</a>, &amp;il));
<a name="line104">104: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISLoad.html">ISLoad</a>(il, vl));
<a name="line105">105: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISEqual.html">ISEqual</a>(il, isx[i], &amp;equal));
<a name="line106">106: </a>      <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(equal, <a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Iteration %"</font> PetscInt_FMT <font color="#666666">" - Index set %"</font> PetscInt_FMT <font color="#666666">" loaded from file does not match"</font>, j, i);
<a name="line107">107: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;il));
<a name="line108">108: </a>    }
<a name="line109">109: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Viewer/PetscViewerDestroy.html">PetscViewerDestroy</a>(&amp;vl));
<a name="line110">110: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; 3; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/IS/ISDestroy.html">ISDestroy</a>(&amp;isx[i]));
<a name="line111">111: </a>  }
<a name="line112">112: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(izero));

<a name="line114">114: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line115">115: </a>  <font color="#4169E1">return</font> 0;
<a name="line116">116: </a>}

<a name="line118">118: </a><font color="#B22222">/*TEST</font>

<a name="line120">120: </a><font color="#B22222">   testset:</font>
<a name="line121">121: </a><font color="#B22222">      args: -viewer_binary_mpiio 0</font>
<a name="line122">122: </a><font color="#B22222">      output_file: output/ex2_1.out</font>
<a name="line123">123: </a><font color="#B22222">      test:</font>
<a name="line124">124: </a><font color="#B22222">        suffix: stdio_1</font>
<a name="line125">125: </a><font color="#B22222">        nsize: 1</font>
<a name="line126">126: </a><font color="#B22222">      test:</font>
<a name="line127">127: </a><font color="#B22222">        suffix: stdio_2</font>
<a name="line128">128: </a><font color="#B22222">        nsize: 2</font>
<a name="line129">129: </a><font color="#B22222">      test:</font>
<a name="line130">130: </a><font color="#B22222">        suffix: stdio_3</font>
<a name="line131">131: </a><font color="#B22222">        nsize: 3</font>

<a name="line133">133: </a><font color="#B22222">   testset:</font>
<a name="line134">134: </a><font color="#B22222">      requires: mpiio</font>
<a name="line135">135: </a><font color="#B22222">      args: -viewer_binary_mpiio 1</font>
<a name="line136">136: </a><font color="#B22222">      output_file: output/ex2_1.out</font>
<a name="line137">137: </a><font color="#B22222">      test:</font>
<a name="line138">138: </a><font color="#B22222">        suffix: mpiio_1</font>
<a name="line139">139: </a><font color="#B22222">        nsize: 1</font>
<a name="line140">140: </a><font color="#B22222">      test:</font>
<a name="line141">141: </a><font color="#B22222">        suffix: mpiio_2</font>
<a name="line142">142: </a><font color="#B22222">        nsize: 2</font>
<a name="line143">143: </a><font color="#B22222">      test:</font>
<a name="line144">144: </a><font color="#B22222">        suffix: mpiio_3</font>
<a name="line145">145: </a><font color="#B22222">        nsize: 3</font>

<a name="line147">147: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

