<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/dm/dt/tests/ex9.c">Actual source code: ex9.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:27+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>const char help[] = <font color="#666666">"Tests <a href="../../../../manualpages/DT/PetscDTPKDEvalJet.html">PetscDTPKDEvalJet</a>()"</font>;

<a name="line3">  3: </a>#include <A href="../../../../include/petscdt.h.html">&lt;petscdt.h&gt;</A>
<a name="line4">  4: </a>#include <A href="../../../../include/petscblaslapack.h.html">&lt;petscblaslapack.h&gt;</A>

<a name="line6">  6: </a><strong><font color="#4169E1"><a name="testOrthogonality"></a>static <a href="../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> testOrthogonality(<a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> dim, <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> deg)</font></strong>
<a name="line7">  7: </a>{
<a name="line8">  8: </a>  <a href="../../../../manualpages/DT/PetscQuadrature.html">PetscQuadrature</a>  q;
<a name="line9">  9: </a>  const <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *points, *weights;
<a name="line10"> 10: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>         Npoly, npoints, i, j, k;
<a name="line11"> 11: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *p;

<a name="line13"> 13: </a>  <a href="../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line14"> 14: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTStroudConicalQuadrature.html">PetscDTStroudConicalQuadrature</a>(dim, 1, deg + 1, -1., 1., &amp;q));
<a name="line15"> 15: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscQuadratureGetData.html">PetscQuadratureGetData</a>(q, NULL, NULL, &amp;npoints, &amp;points, &amp;weights));
<a name="line16"> 16: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTBinomialInt.html">PetscDTBinomialInt</a>(dim + deg, dim, &amp;Npoly));
<a name="line17"> 17: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(Npoly * npoints, &amp;p));
<a name="line18"> 18: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTPKDEvalJet.html">PetscDTPKDEvalJet</a>(dim, npoints, points, deg, 0, p));
<a name="line19"> 19: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Npoly; i++) {
<a name="line20"> 20: </a>    <font color="#4169E1">for</font> (j = i; j &lt; Npoly; j++) {
<a name="line21"> 21: </a>      <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> integral = 0.;
<a name="line22"> 22: </a>      <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> exact    = (i == j) ? 1. : 0.;

<a name="line24"> 24: </a>      <font color="#4169E1">for</font> (k = 0; k &lt; npoints; k++) integral += weights[k] * p[i * npoints + k] * p[j * npoints + k];
<a name="line25"> 25: </a>      <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(<a href="../../../../manualpages/Sys/PetscAbsReal.html">PetscAbsReal</a>(integral - exact) &lt;= <a href="../../../../manualpages/Sys/PETSC_SMALL.html">PETSC_SMALL</a>, <a href="../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"&lt;P[%"</font> PetscInt_FMT <font color="#666666">"], P[%"</font> PetscInt_FMT <font color="#666666">"]&gt; = %g != delta_{%"</font> PetscInt_FMT <font color="#666666">",%"</font> PetscInt_FMT <font color="#666666">"}"</font>, i, j, (double)integral, i, j);
<a name="line26"> 26: </a>    }
<a name="line27"> 27: </a>  }
<a name="line28"> 28: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(p));
<a name="line29"> 29: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscQuadratureDestroy.html">PetscQuadratureDestroy</a>(&amp;q));
<a name="line30"> 30: </a>  <a href="../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line31"> 31: </a>}

<a name="line33"> 33: </a><strong><font color="#4169E1"><a name="testDerivativesLegendre"></a>static <a href="../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> testDerivativesLegendre(<a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> dim, <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> deg, <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> k)</font></strong>
<a name="line34"> 34: </a>{
<a name="line35"> 35: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>         Np, Nk, i, j, l, d, npoints;
<a name="line36"> 36: </a>  <a href="../../../../manualpages/Sys/PetscRandom.html">PetscRandom</a>      rand;
<a name="line37"> 37: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *point;
<a name="line38"> 38: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *lgndre_coeffs;
<a name="line39"> 39: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *pkd_coeffs;
<a name="line40"> 40: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *proj;
<a name="line41"> 41: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>      **B;
<a name="line42"> 42: </a>  <a href="../../../../manualpages/DT/PetscQuadrature.html">PetscQuadrature</a>  q;
<a name="line43"> 43: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *points1d;
<a name="line44"> 44: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>        *degrees;
<a name="line45"> 45: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>        *degtup, *ktup;
<a name="line46"> 46: </a>  const <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *points;
<a name="line47"> 47: </a>  const <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> *weights;
<a name="line48"> 48: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *lgndre_jet;
<a name="line49"> 49: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>      **D;
<a name="line50"> 50: </a>  <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a>       *pkd_jet, *pkd_jet_basis;

<a name="line52"> 52: </a>  <a href="../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line53"> 53: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTBinomialInt.html">PetscDTBinomialInt</a>(dim + deg, dim, &amp;Np));
<a name="line54"> 54: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTBinomialInt.html">PetscDTBinomialInt</a>(dim + k, dim, &amp;Nk));

<a name="line56"> 56: </a>  <font color="#B22222">/* create the projector (because it is an orthonormal basis, the projector is the moment integrals) */</font>
<a name="line57"> 57: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTStroudConicalQuadrature.html">PetscDTStroudConicalQuadrature</a>(dim, 1, deg + 1, -1., 1., &amp;q));
<a name="line58"> 58: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscQuadratureGetData.html">PetscQuadratureGetData</a>(q, NULL, NULL, &amp;npoints, &amp;points, &amp;weights));
<a name="line59"> 59: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(npoints * Np, &amp;proj));
<a name="line60"> 60: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTPKDEvalJet.html">PetscDTPKDEvalJet</a>(dim, npoints, points, deg, 0, proj));
<a name="line61"> 61: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Np; i++)
<a name="line62"> 62: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; npoints; j++) proj[i * npoints + j] *= weights[j];

<a name="line64"> 64: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscRandomCreate.html">PetscRandomCreate</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, &amp;rand));
<a name="line65"> 65: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscRandomSetInterval.html">PetscRandomSetInterval</a>(rand, -1., 1.));

<a name="line67"> 67: </a>  <font color="#B22222">/* create a random coefficient vector */</font>
<a name="line68"> 68: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc2.html">PetscMalloc2</a>(Np, &amp;lgndre_coeffs, Np, &amp;pkd_coeffs));
<a name="line69"> 69: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Np; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscRandomGetValueReal.html">PetscRandomGetValueReal</a>(rand, &amp;lgndre_coeffs[i]));

<a name="line71"> 71: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc2.html">PetscMalloc2</a>(dim, &amp;degtup, dim, &amp;ktup));
<a name="line72"> 72: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(deg + 1, &amp;degrees));
<a name="line73"> 73: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; deg + 1; i++) degrees[i] = i;

<a name="line75"> 75: </a>  <font color="#B22222">/* project the lgndre_coeffs to pkd_coeffs */</font>
<a name="line76"> 76: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscArrayzero.html">PetscArrayzero</a>(pkd_coeffs, Np));
<a name="line77"> 77: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(npoints, &amp;points1d));
<a name="line78"> 78: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(dim, &amp;B));
<a name="line79"> 79: </a>  <font color="#4169E1">for</font> (d = 0; d &lt; dim; d++) {
<a name="line80"> 80: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>((deg + 1) * npoints, &amp;B[d]));
<a name="line81"> 81: </a>    <font color="#B22222">/* get this coordinate */</font>
<a name="line82"> 82: </a>    <font color="#4169E1">for</font> (i = 0; i &lt; npoints; i++) points1d[i] = points[i * dim + d];
<a name="line83"> 83: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTLegendreEval.html">PetscDTLegendreEval</a>(npoints, points1d, deg + 1, degrees, B[d], NULL, NULL));
<a name="line84"> 84: </a>  }
<a name="line85"> 85: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(points1d));
<a name="line86"> 86: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; npoints; i++) {
<a name="line87"> 87: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> val = 0.;

<a name="line89"> 89: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; Np; j++) {
<a name="line90"> 90: </a>      <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> mul  = lgndre_coeffs[j];
<a name="line91"> 91: </a>      <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> valj = 1.;

<a name="line93"> 93: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTIndexToGradedOrder.html">PetscDTIndexToGradedOrder</a>(dim, j, degtup));
<a name="line94"> 94: </a>      <font color="#4169E1">for</font> (l = 0; l &lt; dim; l++) valj *= B[l][i * (deg + 1) + degtup[l]];
<a name="line95"> 95: </a>      val += mul * valj;
<a name="line96"> 96: </a>    }
<a name="line97"> 97: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; Np; j++) pkd_coeffs[j] += proj[j * npoints + i] * val;
<a name="line98"> 98: </a>  }
<a name="line99"> 99: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; dim; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(B[i]));
<a name="line100">100: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(B));

<a name="line102">102: </a>  <font color="#B22222">/* create a random point in the biunit simplex */</font>
<a name="line103">103: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(dim, &amp;point));
<a name="line104">104: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; dim; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscRandomGetValueReal.html">PetscRandomGetValueReal</a>(rand, &amp;point[i]));
<a name="line105">105: </a>  <font color="#4169E1">for</font> (i = dim - 1; i &gt; 0; i--) {
<a name="line106">106: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> val = point[i];
<a name="line107">107: </a>    <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a>  j;

<a name="line109">109: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; i; j++) point[j] = (point[j] + 1.) * (1. - val) * 0.5 - 1.;
<a name="line110">110: </a>  }

<a name="line112">112: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc3.html">PetscMalloc3</a>(Nk * Np, &amp;pkd_jet_basis, Nk, &amp;lgndre_jet, Nk, &amp;pkd_jet));
<a name="line113">113: </a>  <font color="#B22222">/* evaluate the jet at the point with PKD polynomials */</font>
<a name="line114">114: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTPKDEvalJet.html">PetscDTPKDEvalJet</a>(dim, 1, point, deg, k, pkd_jet_basis));
<a name="line115">115: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Nk; i++) {
<a name="line116">116: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> val = 0.;
<a name="line117">117: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; Np; j++) val += pkd_coeffs[j] * pkd_jet_basis[j * Nk + i];
<a name="line118">118: </a>    pkd_jet[i] = val;
<a name="line119">119: </a>  }

<a name="line121">121: </a>  <font color="#B22222">/* evaluate the 1D jets of the Legendre polynomials */</font>
<a name="line122">122: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(dim, &amp;D));
<a name="line123">123: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; dim; i++) {
<a name="line124">124: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>((deg + 1) * (k + 1), &amp;D[i]));
<a name="line125">125: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTJacobiEvalJet.html">PetscDTJacobiEvalJet</a>(0., 0., 1, &amp;point[i], deg, k, D[i]));
<a name="line126">126: </a>  }
<a name="line127">127: </a>  <font color="#B22222">/* compile the 1D Legendre jets into the tensor Legendre jet */</font>
<a name="line128">128: </a>  <font color="#4169E1">for</font> (j = 0; j &lt; Nk; j++) lgndre_jet[j] = 0.;
<a name="line129">129: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Np; i++) {
<a name="line130">130: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> mul = lgndre_coeffs[i];

<a name="line132">132: </a>    <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTIndexToGradedOrder.html">PetscDTIndexToGradedOrder</a>(dim, i, degtup));
<a name="line133">133: </a>    <font color="#4169E1">for</font> (j = 0; j &lt; Nk; j++) {
<a name="line134">134: </a>      <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> val = 1.;

<a name="line136">136: </a>      <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscDTIndexToGradedOrder.html">PetscDTIndexToGradedOrder</a>(dim, j, ktup));
<a name="line137">137: </a>      <font color="#4169E1">for</font> (l = 0; l &lt; dim; l++) val *= D[l][degtup[l] * (k + 1) + ktup[l]];
<a name="line138">138: </a>      lgndre_jet[j] += mul * val;
<a name="line139">139: </a>    }
<a name="line140">140: </a>  }
<a name="line141">141: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; dim; i++) <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(D[i]));
<a name="line142">142: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(D));

<a name="line144">144: </a>  <font color="#4169E1">for</font> (i = 0; i &lt; Nk; i++) {
<a name="line145">145: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> diff  = lgndre_jet[i] - pkd_jet[i];
<a name="line146">146: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> scale = 1. + <a href="../../../../manualpages/Sys/PetscAbsReal.html">PetscAbsReal</a>(lgndre_jet[i]) + <a href="../../../../manualpages/Sys/PetscAbsReal.html">PetscAbsReal</a>(pkd_jet[i]);
<a name="line147">147: </a>    <a href="../../../../manualpages/Sys/PetscReal.html">PetscReal</a> tol   = 10. * <a href="../../../../manualpages/Sys/PETSC_SMALL.html">PETSC_SMALL</a> * scale;

<a name="line149">149: </a>    <a href="../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(<a href="../../../../manualpages/Sys/PetscAbsReal.html">PetscAbsReal</a>(diff) &lt;= tol, <a href="../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, <a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Jet mismatch between PKD and tensor Legendre bases: error %g at tolerance %g"</font>, (double)diff, (double)tol);
<a name="line150">150: </a>  }

<a name="line152">152: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree2.html">PetscFree2</a>(degtup, ktup));
<a name="line153">153: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(degrees));
<a name="line154">154: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree3.html">PetscFree3</a>(pkd_jet_basis, lgndre_jet, pkd_jet));
<a name="line155">155: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(point));
<a name="line156">156: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree2.html">PetscFree2</a>(lgndre_coeffs, pkd_coeffs));
<a name="line157">157: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(proj));
<a name="line158">158: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscRandomDestroy.html">PetscRandomDestroy</a>(&amp;rand));
<a name="line159">159: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/DT/PetscQuadratureDestroy.html">PetscQuadratureDestroy</a>(&amp;q));
<a name="line160">160: </a>  <a href="../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line161">161: </a>}

<a name="line163">163: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line164">164: </a>{
<a name="line165">165: </a>  <a href="../../../../manualpages/Sys/PetscInt.html">PetscInt</a> dim, deg, k;

<a name="line167">167: </a>  <a href="../../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line168">168: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line169">169: </a>  dim = 3;
<a name="line170">170: </a>  deg = 4;
<a name="line171">171: </a>  k   = 3;
<a name="line172">172: </a>  <a href="../../../../manualpages/Sys/PetscOptionsBegin.html">PetscOptionsBegin</a>(<a href="../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">""</font>, <font color="#666666">"Options for PetscDTPKDEval() tests"</font>, <font color="#666666">"none"</font>);
<a name="line173">173: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscOptionsInt.html">PetscOptionsInt</a>(<font color="#666666">"-dim"</font>, <font color="#666666">"Dimension of the simplex"</font>, <font color="#666666">"ex9.c"</font>, dim, &amp;dim, NULL));
<a name="line174">174: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscOptionsInt.html">PetscOptionsInt</a>(<font color="#666666">"-degree"</font>, <font color="#666666">"The degree of the polynomial space"</font>, <font color="#666666">"ex9.c"</font>, deg, &amp;deg, NULL));
<a name="line175">175: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscOptionsInt.html">PetscOptionsInt</a>(<font color="#666666">"-k"</font>, <font color="#666666">"The number of derivatives to use in the taylor test"</font>, <font color="#666666">"ex9.c"</font>, k, &amp;k, NULL));
<a name="line176">176: </a>  <a href="../../../../manualpages/Sys/PetscOptionsEnd.html">PetscOptionsEnd</a>();
<a name="line177">177: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(testOrthogonality(dim, deg));
<a name="line178">178: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(testDerivativesLegendre(dim, deg, k));
<a name="line179">179: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line180">180: </a>  <font color="#4169E1">return</font> 0;
<a name="line181">181: </a>}

<a name="line183">183: </a><font color="#B22222">/*TEST</font>

<a name="line185">185: </a><font color="#B22222">  test:</font>
<a name="line186">186: </a><font color="#B22222">    args: -dim {{1 2 3 4}}</font>

<a name="line188">188: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

