<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/sys/tests/ex1.c">Actual source code: ex1.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:50+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static char help[] = <font color="#666666">"Demonstrates PETSc error handlers.\n"</font>;

<a name="line3">  3: </a>#include <A href="../../../include/petscsys.h.html">&lt;petscsys.h&gt;</A>

<a name="line5">  5: </a><strong><font color="#4169E1"><a name="CreateError"></a><a href="../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> CreateError(int n)</font></strong>
<a name="line6">  6: </a>{
<a name="line7">  7: </a>  <a href="../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(n, <a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_USER</a>, <font color="#666666">"Error Created"</font>);
<a name="line8">  8: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(CreateError(n - 1));
<a name="line9">  9: </a>  <font color="#4169E1">return</font> <a href="../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>;
<a name="line10"> 10: </a>}

<a name="line12"> 12: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line13"> 13: </a>{
<a name="line14"> 14: </a>  <a href="../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line15"> 15: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line16"> 16: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, stdout, <font color="#666666">"Demonstrates PETSc Error Handlers\n"</font>));
<a name="line17"> 17: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFPrintf.html">PetscFPrintf</a>(<a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, stdout, <font color="#666666">"The error is a contrived error to test error handling\n"</font>));
<a name="line18"> 18: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscSynchronizedFlush.html">PetscSynchronizedFlush</a>(<a href="../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, PETSC_STDOUT));
<a name="line19"> 19: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(CreateError(5));
<a name="line20"> 20: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line21"> 21: </a>  <font color="#4169E1">return</font> 0;
<a name="line22"> 22: </a>}

<a name="line24"> 24: </a><font color="#B22222">/*TEST</font>

<a name="line26"> 26: </a><font color="#B22222"> # Testing errors so only look for errors</font>
<a name="line27"> 27: </a><font color="#B22222">   test:</font>
<a name="line28"> 28: </a><font color="#B22222">     requires: !defined(PETSCTEST_VALGRIND) !defined(PETSC_HAVE_SANITIZER)</font>
<a name="line29"> 29: </a><font color="#B22222">     args: -petsc_ci_portable_error_output -error_output_stdout</font>
<a name="line30"> 30: </a><font color="#B22222">     nsize: {{1 2 3}}</font>
<a name="line31"> 31: </a><font color="#B22222">     filter: grep -E "(PETSC ERROR)" | egrep "(Error Created|CreateError\(\)|main\(\))"</font>

<a name="line33"> 33: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

