<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/sys/tests/ex54.c">Actual source code: ex54.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:51+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static char help[] = <font color="#666666">"Tests options file parsing.\n\n"</font>;

<a name="line3">  3: </a>#include <A href="../../../include/petscsys.h.html">&lt;petscsys.h&gt;</A>
<a name="line4">  4: </a>#include <A href="../../../include/petscviewer.h.html">&lt;petscviewer.h&gt;</A>

<a name="line6">  6: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line7">  7: </a>{
<a name="line8">  8: </a>  <font color="#B22222">/* this is listed first so that it gets into the database before the errors are created */</font>
<a name="line9">  9: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscOptionsSetValue.html">PetscOptionsSetValue</a>(NULL, <font color="#666666">"-error_output_stdout"</font>, NULL));
<a name="line10"> 10: </a>  <a href="../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line11"> 11: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, <font color="#666666">"ex54options"</font>, help));
<a name="line12"> 12: </a>  <a href="../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line13"> 13: </a>  <font color="#4169E1">return</font> 0;
<a name="line14"> 14: </a>}

<a name="line16"> 16: </a><font color="#B22222">/*TEST</font>

<a name="line18"> 18: </a><font color="#B22222">   test:</font>
<a name="line19"> 19: </a><font color="#B22222">      suffix: 0</font>
<a name="line20"> 20: </a><font color="#B22222">      localrunfiles: ex54options</font>
<a name="line21"> 21: </a><font color="#B22222">      args: -options_left 0 -options_view</font>

<a name="line23"> 23: </a><font color="#B22222">   testset:</font>
<a name="line24"> 24: </a><font color="#B22222">      TODO: occasionally randomly produces errors in CI, very difficult to debug, the wasted time out-weighs keeping this test in the CI</font>
<a name="line25"> 25: </a><font color="#B22222">      args: -options_left 0 -options_view</font>
<a name="line26"> 26: </a><font color="#B22222">      test:</font>
<a name="line27"> 27: </a><font color="#B22222">        suffix: 1</font>
<a name="line28"> 28: </a><font color="#B22222">        localrunfiles: ex54options ex54options_1a_wrong ex54options_1b_wrong ex54options_1c_wrong ex54options_1d_wrong ex54options_1e_wrong ex54options_1f_wrong ex54options_1g_wrong</font>
<a name="line29"> 29: </a><font color="#B22222">        args: -options_file {{ex54options_1a_wrong ex54options_1b_wrong ex54options_1c_wrong ex54options_1d_wrong ex54options_1e_wrong ex54options_1f_wrong ex54options_1g_wrong}separate output}</font>
<a name="line30"> 30: </a><font color="#B22222">        # Some machines use the fullpath in the program name, so filter with " ex54options" and not "ex54options"</font>
<a name="line31"> 31: </a><font color="#B22222">        filter: Error: grep -E " ex54options"</font>
<a name="line32"> 32: </a><font color="#B22222">      test:</font>
<a name="line33"> 33: </a><font color="#B22222">        suffix: 1_options_file-ex54options_1h</font>
<a name="line34"> 34: </a><font color="#B22222">        localrunfiles: ex54options ex54options_1h</font>
<a name="line35"> 35: </a><font color="#B22222">        args: -options_file ex54options_1h</font>

<a name="line37"> 37: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

