<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/dm/impls/forest/p4est/petsc_p4est_package.c">Actual source code: petsc_p4est_package.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:27+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>#include <A href="../../../../include/petscdmforest.h.html">&lt;petscdmforest.h&gt;</A>
<a name="line2">  2: </a>#include <A href="../../../../include/petsc/private/petscimpl.h.html">&lt;petsc/private/petscimpl.h&gt;</A>
<a name="line3">  3: </a><font color="#A020F0">#include </font><font color="#666666">"petsc_p4est_package.h"</font><font color="#A020F0"></font>

<a name="line5">  5: </a>static const char *const SCLogTypes[] = {<font color="#666666">"DEFAULT"</font>, <font color="#666666">"ALWAYS"</font>, <font color="#666666">"TRACE"</font>, <font color="#666666">"DEBUG"</font>, <font color="#666666">"VERBOSE"</font>, <font color="#666666">"INFO"</font>, <font color="#666666">"STATISTICS"</font>, <font color="#666666">"PRODUCTION"</font>, <font color="#666666">"ESSENTIAL"</font>, <font color="#666666">"ERROR"</font>, <font color="#666666">"SILENT"</font>, <font color="#666666">"SCLogTypes"</font>, <font color="#666666">"SC_LP_"</font>, NULL};

<a name="line7">  7: </a>static <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>    PetscP4estInitialized = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line8">  8: </a>static <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>    PetscBeganSc          = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line9">  9: </a>static <a href="../../../../../manualpages/Sys/PetscClassId.html">PetscClassId</a> P4ESTLOGGING_CLASSID;

<a name="line11"> 11: </a><a href="../../../../../manualpages/Sys/PetscObject.html">PetscObject</a> P4estLoggingObject; <font color="#B22222">/* Just a vehicle for its classid */</font>

<a name="line13"> 13: </a><strong><font color="#4169E1"><a name="PetscScLogHandler"></a>static void PetscScLogHandler(FILE *log_stream, const char *filename, int lineno, int package, int category, int priority, const char *msg)</font></strong>
<a name="line14"> 14: </a>{
<a name="line15"> 15: </a>  <a href="../../../../../manualpages/Sys/PetscCallVoid.html">PetscCallVoid</a>(PetscInfo_Private(filename, P4estLoggingObject, <font color="#666666">":%d{%s} %s"</font>, lineno, package == sc_package_id ? <font color="#666666">"sc"</font> : package == p4est_package_id ? <font color="#666666">"p4est"</font> : <font color="#666666">""</font>, msg));
<a name="line16"> 16: </a>}

<a name="line18"> 18: </a><font color="#B22222">/* p4est tries to abort: if possible, use setjmp to enable at least a little unwinding */</font>
<a name="line19"> 19: </a><font color="#A020F0">#if defined(PETSC_HAVE_SETJMP_H) &amp;&amp; defined(PETSC_USE_DEBUG)</font>
<a name="line20"> 20: </a><font color="#A020F0">  #include &lt;setjmp.h&gt;</font>
<a name="line21"> 21: </a>PETSC_VISIBILITY_INTERNAL jmp_buf PetscScJumpBuf;
<a name="line22"> 22: </a><strong><font color="#4169E1"><a name="PetscScAbort_longjmp"></a>PETSC_INTERN void                 PetscScAbort_longjmp(void)</font></strong>
<a name="line23"> 23: </a>{
<a name="line24"> 24: </a>  <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> ierr = <a href="../../../../../manualpages/Sys/PetscError.html">PetscError</a>(<a href="../../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, -1, <font color="#666666">"p4est function"</font>, <font color="#666666">"p4est file"</font>, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_LIB</a>, <a href="../../../../../manualpages/Sys/PetscErrorType.html">PETSC_ERROR_INITIAL</a>, <font color="#666666">"Error in p4est stack call\n"</font>);
<a name="line25"> 25: </a>  (void)ierr;
<a name="line26"> 26: </a>  longjmp(PetscScJumpBuf, 1);
<a name="line27"> 27: </a>  <font color="#4169E1">return</font>;
<a name="line28"> 28: </a>}

<a name="line30"> 30: </a><strong><font color="#228B22">  #define PetscScAbort PetscScAbort_longjmp</font></strong>
<a name="line31"> 31: </a><font color="#A020F0">#else</font>
<a name="line32"> 32: </a><strong><font color="#228B22">  #define PetscScAbort NULL</font></strong>
<a name="line33"> 33: </a><font color="#A020F0">#endif</font>

<a name="line35"> 35: </a><strong><font color="#4169E1"><a name="PetscP4estFinalize"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscP4estFinalize(void)</font></strong>
<a name="line36"> 36: </a>{
<a name="line37"> 37: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line38"> 38: </a>  <font color="#4169E1">if</font> (PetscBeganSc) {
<a name="line39"> 39: </a>    <font color="#B22222">/* We do not want libsc to abort on a mismatched allocation and prevent further Petsc unwinding */</font>
<a name="line40"> 40: </a>    PetscCallP4est(sc_package_set_abort_alloc_mismatch, (sc_package_id, 0));
<a name="line41"> 41: </a>    PetscCallP4est(sc_package_set_abort_alloc_mismatch, (p4est_package_id, 0));
<a name="line42"> 42: </a>    PetscCallP4est(sc_package_set_abort_alloc_mismatch, (-1, 0));
<a name="line43"> 43: </a>    PetscCallP4est(sc_finalize, ());
<a name="line44"> 44: </a>  }
<a name="line45"> 45: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscHeaderDestroy.html">PetscHeaderDestroy</a>(&amp;P4estLoggingObject));
<a name="line46"> 46: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line47"> 47: </a>}

<a name="line49"> 49: </a><strong><font color="#4169E1"><a name="PetscP4estInitialize"></a><a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscP4estInitialize(void)</font></strong>
<a name="line50"> 50: </a>{
<a name="line51"> 51: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> psc_catch_signals    = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line52"> 52: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> psc_print_backtrace  = <a href="../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line53"> 53: </a>  int       psc_log_threshold    = SC_LP_DEFAULT;
<a name="line54"> 54: </a>  int       pp4est_log_threshold = SC_LP_DEFAULT;
<a name="line55"> 55: </a>  char      logList[256];
<a name="line56"> 56: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> opt, pkg;

<a name="line58"> 58: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line59"> 59: </a>  <font color="#4169E1">if</font> (PetscP4estInitialized) <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line60"> 60: </a>  PetscP4estInitialized = <a href="../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;

<a name="line62"> 62: </a>  <font color="#B22222">/* Register Classes */</font>
<a name="line63"> 63: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Profiling/PetscClassIdRegister.html">PetscClassIdRegister</a>(<font color="#666666">"p4est logging"</font>, &amp;P4ESTLOGGING_CLASSID));
<a name="line64"> 64: </a>  <font color="#B22222">/* Process Info */</font>
<a name="line65"> 65: </a>  {
<a name="line66"> 66: </a>    <a href="../../../../../manualpages/Sys/PetscClassId.html">PetscClassId</a> classids[1];

<a name="line68"> 68: </a>    classids[0] = P4ESTLOGGING_CLASSID;
<a name="line69"> 69: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Profiling/PetscInfoProcessClass.html">PetscInfoProcessClass</a>(<font color="#666666">"p4est"</font>, 1, classids));
<a name="line70"> 70: </a>  }
<a name="line71"> 71: </a>  <font color="#B22222">/* Process summary exclusions */</font>
<a name="line72"> 72: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetString.html">PetscOptionsGetString</a>(NULL, NULL, <font color="#666666">"-log_exclude"</font>, logList, <font color="#4169E1">sizeof</font>(logList), &amp;opt));
<a name="line73"> 73: </a>  <font color="#4169E1">if</font> (opt) {
<a name="line74"> 74: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscStrInList.html">PetscStrInList</a>(<font color="#666666">"p4est"</font>, logList, ',', &amp;pkg));
<a name="line75"> 75: </a>    <font color="#4169E1">if</font> (pkg) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Profiling/PetscLogEventExcludeClass.html">PetscLogEventExcludeClass</a>(P4ESTLOGGING_CLASSID));
<a name="line76"> 76: </a>  }
<a name="line77"> 77: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscHeaderCreate.html">PetscHeaderCreate</a>(P4estLoggingObject, P4ESTLOGGING_CLASSID, <font color="#666666">"p4est"</font>, <font color="#666666">"p4est logging"</font>, <font color="#666666">"<a href="../../../../../manualpages/DM/DM.html">DM</a>"</font>, <a href="../../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, NULL, <a href="../../../../../manualpages/Sys/PetscObjectView.html">PetscObjectView</a>));
<a name="line78"> 78: </a>  <font color="#4169E1">if</font> (sc_package_id == -1) {
<a name="line79"> 79: </a>    int       log_threshold_shifted = psc_log_threshold + 1;
<a name="line80"> 80: </a>    <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> set;
<a name="line81"> 81: </a><font color="#A020F0">#if defined(PETSC_HAVE_MPIUNI)</font>
<a name="line82"> 82: </a>    sc_MPI_Comm comm_world = sc_MPI_COMM_WORLD;
<a name="line83"> 83: </a><font color="#A020F0">#else</font>
<a name="line84"> 84: </a>    <a href="../../../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a> comm_world = <a href="../../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>;
<a name="line85"> 85: </a><font color="#A020F0">#endif</font>

<a name="line87"> 87: </a>    PetscBeganSc = <a href="../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line88"> 88: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>(NULL, NULL, <font color="#666666">"-petsc_sc_catch_signals"</font>, &amp;psc_catch_signals, NULL));
<a name="line89"> 89: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>(NULL, NULL, <font color="#666666">"-petsc_sc_print_backtrace"</font>, &amp;psc_print_backtrace, NULL));
<a name="line90"> 90: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetEnum.html">PetscOptionsGetEnum</a>(NULL, NULL, <font color="#666666">"-petsc_sc_log_threshold"</font>, SCLogTypes, (<a href="../../../../../manualpages/Sys/PetscEnum.html">PetscEnum</a> *)&amp;log_threshold_shifted, &amp;set));
<a name="line91"> 91: </a>    <font color="#4169E1">if</font> (set) psc_log_threshold = log_threshold_shifted - 1;
<a name="line92"> 92: </a>    sc_init(comm_world, (int)psc_catch_signals, (int)psc_print_backtrace, PetscScLogHandler, psc_log_threshold);
<a name="line93"> 93: </a>    <a href="../../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(sc_package_id != -1, <a href="../../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_LIB</a>, <font color="#666666">"Could not initialize libsc package used by p4est"</font>);
<a name="line94"> 94: </a>    sc_set_abort_handler(PetscScAbort);
<a name="line95"> 95: </a>  }
<a name="line96"> 96: </a>  <font color="#4169E1">if</font> (p4est_package_id == -1) {
<a name="line97"> 97: </a>    int       log_threshold_shifted = pp4est_log_threshold + 1;
<a name="line98"> 98: </a>    <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> set;

<a name="line100">100: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetEnum.html">PetscOptionsGetEnum</a>(NULL, NULL, <font color="#666666">"-petsc_p4est_log_threshold"</font>, SCLogTypes, (<a href="../../../../../manualpages/Sys/PetscEnum.html">PetscEnum</a> *)&amp;log_threshold_shifted, &amp;set));
<a name="line101">101: </a>    <font color="#4169E1">if</font> (set) pp4est_log_threshold = log_threshold_shifted - 1;
<a name="line102">102: </a>    PetscCallP4est(p4est_init, (PetscScLogHandler, pp4est_log_threshold));
<a name="line103">103: </a>    <a href="../../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(p4est_package_id != -1, <a href="../../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_LIB</a>, <font color="#666666">"Could not initialize p4est"</font>);
<a name="line104">104: </a>  }
<a name="line105">105: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/DMForest/DMForestRegisterType.html">DMForestRegisterType</a>(DMP4EST));
<a name="line106">106: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/DMForest/DMForestRegisterType.html">DMForestRegisterType</a>(DMP8EST));
<a name="line107">107: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscRegisterFinalize.html">PetscRegisterFinalize</a>(PetscP4estFinalize));
<a name="line108">108: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line109">109: </a>}
</pre>
</body>

</html>

