<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/sys/objects/device/tests/ex12.c">Actual source code: ex12.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:50+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static const char help[] = <font color="#666666">"Tests <a href="../../../../../manualpages/Sys/PetscDevice.html">PetscDevice</a> and <a href="../../../../../manualpages/Sys/PetscDeviceContext.html">PetscDeviceContext</a> init sequence control from command line.\n\n"</font>;

<a name="line3">  3: </a><font color="#A020F0">#include </font><font color="#666666">"petscdevicetestcommon.h"</font><font color="#A020F0"></font>

<a name="line5">  5: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char *argv[])</font></strong>
<a name="line6">  6: </a>{
<a name="line7">  7: </a>  <a href="../../../../../manualpages/Sys/PetscDeviceContext.html">PetscDeviceContext</a> dctx;

<a name="line9">  9: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line10"> 10: </a>  <font color="#B22222">// check that things are properly caught at init-time, i.e. allow failures for "lazy" during</font>
<a name="line11"> 11: </a>  <font color="#B22222">// initialize</font>
<a name="line12"> 12: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line13"> 13: </a>  <font color="#B22222">// and check that things are properly handled if explicitly requested</font>
<a name="line14"> 14: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceContextGetCurrentContext.html">PetscDeviceContextGetCurrentContext</a>(&amp;dctx));
<a name="line15"> 15: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line16"> 16: </a>  <font color="#4169E1">return</font> 0;
<a name="line17"> 17: </a>}

<a name="line19"> 19: </a><font color="#B22222">/*TEST</font>

<a name="line21"> 21: </a><font color="#B22222">  testset:</font>
<a name="line22"> 22: </a><font color="#B22222">    requires: defined(PETSC_HAVE_DEVICE) defined(PETSC_USE_INFO)</font>
<a name="line23"> 23: </a><font color="#B22222">    filter: grep -e <a href="../../../../../manualpages/Sys/PetscDevice.html">PetscDevice</a> -e "PETSC ERROR" -e "PETSc successfully started"</font>
<a name="line24"> 24: </a><font color="#B22222">    args: -info -device_enable {{none lazy eager}separate output}</font>
<a name="line25"> 25: </a><font color="#B22222">    args: -petsc_ci_portable_error_output -error_output_stdout</font>
<a name="line26"> 26: </a><font color="#B22222">    test:</font>
<a name="line27"> 27: </a><font color="#B22222">      requires: cuda</font>
<a name="line28"> 28: </a><font color="#B22222">      args: -device_enable_cuda {{none lazy eager}separate output}</font>
<a name="line29"> 29: </a><font color="#B22222">      suffix: cuda_no_env</font>
<a name="line30"> 30: </a><font color="#B22222">    test:</font>
<a name="line31"> 31: </a><font color="#B22222">      requires: cuda</font>
<a name="line32"> 32: </a><font color="#B22222">      env: CUDA_VISIBLE_DEVICES=0</font>
<a name="line33"> 33: </a><font color="#B22222">      args: -device_enable_cuda {{none lazy eager}separate output}</font>
<a name="line34"> 34: </a><font color="#B22222">      suffix: cuda_env_set</font>
<a name="line35"> 35: </a><font color="#B22222">    test:</font>
<a name="line36"> 36: </a><font color="#B22222">      requires: cuda</font>
<a name="line37"> 37: </a><font color="#B22222">      env: CUDA_VISIBLE_DEVICES=</font>
<a name="line38"> 38: </a><font color="#B22222">      args: -device_enable_cuda {{none lazy eager}separate output}</font>
<a name="line39"> 39: </a><font color="#B22222">      suffix: cuda_env_set_empty</font>
<a name="line40"> 40: </a><font color="#B22222">    test:</font>
<a name="line41"> 41: </a><font color="#B22222">      requires: hip</font>
<a name="line42"> 42: </a><font color="#B22222">      args: -device_enable_hip {{none lazy eager}separate output}</font>
<a name="line43"> 43: </a><font color="#B22222">      suffix: hip_no_env</font>
<a name="line44"> 44: </a><font color="#B22222">    test:</font>
<a name="line45"> 45: </a><font color="#B22222">      requires: hip</font>
<a name="line46"> 46: </a><font color="#B22222">      env: HIP_VISIBLE_DEVICES=0</font>
<a name="line47"> 47: </a><font color="#B22222">      args: -device_enable_hip {{none lazy eager}separate output}</font>
<a name="line48"> 48: </a><font color="#B22222">      suffix: hip_env_set</font>
<a name="line49"> 49: </a><font color="#B22222">    test:</font>
<a name="line50"> 50: </a><font color="#B22222">      requires: hip</font>
<a name="line51"> 51: </a><font color="#B22222">      env: HIP_VISIBLE_DEVICES=</font>
<a name="line52"> 52: </a><font color="#B22222">      args: -device_enable_hip {{none lazy eager}separate output}</font>
<a name="line53"> 53: </a><font color="#B22222">      suffix: hip_env_set_empty</font>

<a name="line55"> 55: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

