<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/sys/objects/device/tests/ex5.c">Actual source code: ex5.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:50+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>static const char help[] = <font color="#666666">"Tests <a href="../../../../../manualpages/Sys/PetscDeviceGetAttribute.html">PetscDeviceGetAttribute</a>().\n\n"</font>;

<a name="line3">  3: </a><font color="#A020F0">#include </font><font color="#666666">"petscdevicetestcommon.h"</font><font color="#A020F0"></font>
<a name="line4">  4: </a>#include <A href="../../../../include/petscviewer.h.html">&lt;petscviewer.h&gt;</A>

<a name="line6">  6: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char *argv[])</font></strong>
<a name="line7">  7: </a>{
<a name="line8">  8: </a>  <a href="../../../../../manualpages/Sys/PetscDevice.html">PetscDevice</a> device = NULL;
<a name="line9">  9: </a>  size_t      shmem  = 0;

<a name="line11"> 11: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line12"> 12: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));

<a name="line14"> 14: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceCreate.html">PetscDeviceCreate</a>(<a href="../../../../../manualpages/Sys/PETSC_DEVICE_DEFAULT.html">PETSC_DEVICE_DEFAULT</a>(), <a href="../../../../../manualpages/Sys/PETSC_DECIDE.html">PETSC_DECIDE</a>, &amp;device));
<a name="line15"> 15: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceConfigure.html">PetscDeviceConfigure</a>(device));
<a name="line16"> 16: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceGetAttribute.html">PetscDeviceGetAttribute</a>(device, <a href="../../../../../manualpages/Sys/PetscDeviceAttribute.html">PETSC_DEVICE_ATTR_SIZE_T_SHARED_MEM_PER_BLOCK</a>, &amp;shmem));
<a name="line17"> 17: </a>  <font color="#4169E1">if</font> (<a href="../../../../../manualpages/Sys/PetscDefined.html">PetscDefined</a>(HAVE_CXX) &amp;&amp; ((shmem == 0) || (shmem == (size_t)-1))) {
<a name="line18"> 18: </a>    <font color="#B22222">// if no C++ then <a href="../../../../../manualpages/Sys/PetscDeviceGetAttribute.html">PetscDeviceGetAttribute</a> defaults to 0</font>
<a name="line19"> 19: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceView.html">PetscDeviceView</a>(device, <a href="../../../../../manualpages/Viewer/PETSC_VIEWER_STDOUT_SELF.html">PETSC_VIEWER_STDOUT_SELF</a>));
<a name="line20"> 20: </a>    <a href="../../../../../manualpages/Sys/SETERRQ.html">SETERRQ</a>(<a href="../../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_LIB</a>, <font color="#666666">"Maximum shared memory of %zu seems fishy"</font>, shmem);
<a name="line21"> 21: </a>  }
<a name="line22"> 22: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscDeviceDestroy.html">PetscDeviceDestroy</a>(&amp;device));

<a name="line24"> 24: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscPrintf.html">PetscPrintf</a>(<a href="../../../../../manualpages/Sys/PETSC_COMM_WORLD.html">PETSC_COMM_WORLD</a>, <font color="#666666">"EXIT_SUCCESS\n"</font>));
<a name="line25"> 25: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line26"> 26: </a>  <font color="#4169E1">return</font> 0;
<a name="line27"> 27: </a>}

<a name="line29"> 29: </a><font color="#B22222">/*TEST</font>

<a name="line31"> 31: </a><font color="#B22222">  testset:</font>
<a name="line32"> 32: </a><font color="#B22222">    requires: cxx</font>
<a name="line33"> 33: </a><font color="#B22222">    output_file: ./output/ExitSuccess.out</font>
<a name="line34"> 34: </a><font color="#B22222">    args: -device_enable {{lazy eager}}</font>
<a name="line35"> 35: </a><font color="#B22222">    test:</font>
<a name="line36"> 36: </a><font color="#B22222">      requires: !device</font>
<a name="line37"> 37: </a><font color="#B22222">      suffix: host_no_device</font>
<a name="line38"> 38: </a><font color="#B22222">    test:</font>
<a name="line39"> 39: </a><font color="#B22222">      requires: device</font>
<a name="line40"> 40: </a><font color="#B22222">      args: -default_device_type host</font>
<a name="line41"> 41: </a><font color="#B22222">      suffix: host_with_device</font>
<a name="line42"> 42: </a><font color="#B22222">    test:</font>
<a name="line43"> 43: </a><font color="#B22222">      requires: cuda</font>
<a name="line44"> 44: </a><font color="#B22222">      args: -default_device_type cuda</font>
<a name="line45"> 45: </a><font color="#B22222">      suffix: cuda</font>
<a name="line46"> 46: </a><font color="#B22222">    test:</font>
<a name="line47"> 47: </a><font color="#B22222">      requires: hip</font>
<a name="line48"> 48: </a><font color="#B22222">      args: -default_device_type hip</font>
<a name="line49"> 49: </a><font color="#B22222">      suffix: hip</font>
<a name="line50"> 50: </a><font color="#B22222">    test:</font>
<a name="line51"> 51: </a><font color="#B22222">      requires: sycl</font>
<a name="line52"> 52: </a><font color="#B22222">      args: -default_device_type sycl</font>
<a name="line53"> 53: </a><font color="#B22222">      suffix: sycl</font>

<a name="line55"> 55: </a><font color="#B22222">  testset:</font>
<a name="line56"> 56: </a><font color="#B22222">    requires: !cxx</font>
<a name="line57"> 57: </a><font color="#B22222">    output_file: ./output/ExitSuccess.out</font>
<a name="line58"> 58: </a><font color="#B22222">    suffix: no_cxx</font>

<a name="line60"> 60: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

