<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/tao/unconstrained/tutorials/rosenbrock4cu.cu">Actual source code: rosenbrock4cu.cu</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:53+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>const char help[] = <font color="#666666">"CUDA backend of rosenbrock4cu.cu\n"</font>;

<a name="line3">  3: </a><font color="#B22222">/* ------------------------------------------------------------------------</font>

<a name="line5">  5: </a><font color="#B22222">  Copy of rosenbrock1.c.</font>
<a name="line6">  6: </a><font color="#B22222">  Once petsc test harness supports conditional linking, we can remove this duplicate.</font>
<a name="line7">  7: </a><font color="#B22222">  See https://gitlab.com/petsc/petsc/-/issues/1173</font>
<a name="line8">  8: </a><font color="#B22222">  ------------------------------------------------------------------------- */</font>

<a name="line10"> 10: </a><font color="#A020F0">#include </font><font color="#666666">"rosenbrock4.h"</font><font color="#A020F0"></font>

<a name="line12"> 12: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc, char **argv)</font></strong>
<a name="line13"> 13: </a>{
<a name="line14"> 14: </a>  <font color="#B22222">/* Initialize TAO and PETSc */</font>
<a name="line15"> 15: </a>  <a href="../../../../manualpages/Sys/PetscFunctionBeginUser.html">PetscFunctionBeginUser</a>;
<a name="line16"> 16: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscInitialize.html">PetscInitialize</a>(&amp;argc, &amp;argv, NULL, help));
<a name="line17"> 17: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(RosenbrockMain());
<a name="line18"> 18: </a>  <a href="../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../manualpages/Sys/PetscFinalize.html">PetscFinalize</a>());
<a name="line19"> 19: </a>  <font color="#4169E1">return</font> 0;
<a name="line20"> 20: </a>}

<a name="line22"> 22: </a><font color="#B22222">/*TEST</font>

<a name="line24"> 24: </a><font color="#B22222">  build:</font>
<a name="line25"> 25: </a><font color="#B22222">    requires: !complex cuda !single !__float128 !defined(PETSC_USE_65BIT_INDICES)</font>

<a name="line27"> 27: </a><font color="#B22222">  test:</font>
<a name="line28"> 28: </a><font color="#B22222">    suffix: 1</font>
<a name="line29"> 29: </a><font color="#B22222">    nsize: {{1 2 3}}</font>
<a name="line30"> 30: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type nls -tao_gatol 1.e-4 -tao_nls_pc_type pbjacobi</font>
<a name="line31"> 31: </a><font color="#B22222">    requires: !single</font>
<a name="line32"> 32: </a><font color="#B22222">    output_file: output/rosenbrock1_1.out</font>

<a name="line34"> 34: </a><font color="#B22222">  test:</font>
<a name="line35"> 35: </a><font color="#B22222">    suffix: 2</font>
<a name="line36"> 36: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type lmvm -tao_gatol 1.e-3</font>
<a name="line37"> 37: </a><font color="#B22222">    output_file: output/rosenbrock1_2.out</font>

<a name="line39"> 39: </a><font color="#B22222">  test:</font>
<a name="line40"> 40: </a><font color="#B22222">    suffix: 3</font>
<a name="line41"> 41: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type ntr -tao_gatol 1.e-4</font>
<a name="line42"> 42: </a><font color="#B22222">    requires: !single</font>
<a name="line43"> 43: </a><font color="#B22222">    output_file: output/rosenbrock1_3.out</font>

<a name="line45"> 45: </a><font color="#B22222">  test:</font>
<a name="line46"> 46: </a><font color="#B22222">    suffix: 5</font>
<a name="line47"> 47: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bntr -tao_gatol 1.e-4</font>
<a name="line48"> 48: </a><font color="#B22222">    output_file: output/rosenbrock1_5.out</font>

<a name="line50"> 50: </a><font color="#B22222">  test:</font>
<a name="line51"> 51: </a><font color="#B22222">    suffix: 6</font>
<a name="line52"> 52: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bntl -tao_gatol 1.e-4</font>
<a name="line53"> 53: </a><font color="#B22222">    output_file: output/rosenbrock1_6.out</font>

<a name="line55"> 55: </a><font color="#B22222">  test:</font>
<a name="line56"> 56: </a><font color="#B22222">    suffix: 7</font>
<a name="line57"> 57: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bnls -tao_gatol 1.e-4</font>
<a name="line58"> 58: </a><font color="#B22222">    output_file: output/rosenbrock1_7.out</font>

<a name="line60"> 60: </a><font color="#B22222">  test:</font>
<a name="line61"> 61: </a><font color="#B22222">    suffix: 8</font>
<a name="line62"> 62: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bntr -tao_bnk_max_cg_its 3 -tao_gatol 1.e-4</font>
<a name="line63"> 63: </a><font color="#B22222">    output_file: output/rosenbrock1_8.out</font>

<a name="line65"> 65: </a><font color="#B22222">  test:</font>
<a name="line66"> 66: </a><font color="#B22222">    suffix: 9</font>
<a name="line67"> 67: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bntl -tao_bnk_max_cg_its 3 -tao_gatol 1.e-4</font>
<a name="line68"> 68: </a><font color="#B22222">    output_file: output/rosenbrock1_9.out</font>

<a name="line70"> 70: </a><font color="#B22222">  test:</font>
<a name="line71"> 71: </a><font color="#B22222">    suffix: 10</font>
<a name="line72"> 72: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_type bnls -tao_bnk_max_cg_its 3 -tao_gatol 1.e-4</font>
<a name="line73"> 73: </a><font color="#B22222">    output_file: output/rosenbrock1_10.out</font>

<a name="line75"> 75: </a><font color="#B22222">  test:</font>
<a name="line76"> 76: </a><font color="#B22222">    suffix: 11</font>
<a name="line77"> 77: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmbroyden</font>
<a name="line78"> 78: </a><font color="#B22222">    output_file: output/rosenbrock1_11.out</font>

<a name="line80"> 80: </a><font color="#B22222">  test:</font>
<a name="line81"> 81: </a><font color="#B22222">    suffix: 12</font>
<a name="line82"> 82: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmbadbroyden</font>
<a name="line83"> 83: </a><font color="#B22222">    output_file: output/rosenbrock1_12.out</font>

<a name="line85"> 85: </a><font color="#B22222">  test:</font>
<a name="line86"> 86: </a><font color="#B22222">    suffix: 13</font>
<a name="line87"> 87: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmsymbroyden</font>
<a name="line88"> 88: </a><font color="#B22222">    output_file: output/rosenbrock1_13.out</font>

<a name="line90"> 90: </a><font color="#B22222">  test:</font>
<a name="line91"> 91: </a><font color="#B22222">    suffix: 14</font>
<a name="line92"> 92: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmbfgs</font>
<a name="line93"> 93: </a><font color="#B22222">    output_file: output/rosenbrock1_14.out</font>

<a name="line95"> 95: </a><font color="#B22222">  test:</font>
<a name="line96"> 96: </a><font color="#B22222">    suffix: 15</font>
<a name="line97"> 97: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmdfp</font>
<a name="line98"> 98: </a><font color="#B22222">    output_file: output/rosenbrock1_15.out</font>

<a name="line100">100: </a><font color="#B22222">  test:</font>
<a name="line101">101: </a><font color="#B22222">    suffix: 16</font>
<a name="line102">102: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmsr1</font>
<a name="line103">103: </a><font color="#B22222">    output_file: output/rosenbrock1_16.out</font>

<a name="line105">105: </a><font color="#B22222">  test:</font>
<a name="line106">106: </a><font color="#B22222">    suffix: 17</font>
<a name="line107">107: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_gatol 1e-4 -tao_type bqnls</font>
<a name="line108">108: </a><font color="#B22222">    output_file: output/rosenbrock1_17.out</font>

<a name="line110">110: </a><font color="#B22222">  test:</font>
<a name="line111">111: </a><font color="#B22222">    suffix: 18</font>
<a name="line112">112: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_gatol 1e-4 -tao_type blmvm</font>
<a name="line113">113: </a><font color="#B22222">    output_file: output/rosenbrock1_18.out</font>

<a name="line115">115: </a><font color="#B22222">  test:</font>
<a name="line116">116: </a><font color="#B22222">    suffix: 19</font>
<a name="line117">117: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor_short -tao_gatol 1e-4 -tao_type bqnktr -tao_bqnk_mat_type lmvmsr1</font>
<a name="line118">118: </a><font color="#B22222">    output_file: output/rosenbrock1_19.out</font>

<a name="line120">120: </a><font color="#B22222">  test:</font>
<a name="line121">121: </a><font color="#B22222">    suffix: 20</font>
<a name="line122">122: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_monitor -tao_gatol 1e-4 -tao_type blmvm -tao_ls_monitor</font>
<a name="line123">123: </a><font color="#B22222">    output_file: output/rosenbrock1_20.out</font>

<a name="line125">125: </a><font color="#B22222">  test:</font>
<a name="line126">126: </a><font color="#B22222">    suffix: 21</font>
<a name="line127">127: </a><font color="#B22222">    args: -mat_type aijcusparse -test_lmvm -tao_type bqnktr -tao_max_it 10 -tao_bqnk_mat_type lmvmsymbadbroyden</font>
<a name="line128">128: </a><font color="#B22222">    output_file: output/rosenbrock1_21.out</font>

<a name="line130">130: </a><font color="#B22222">  test:</font>
<a name="line131">131: </a><font color="#B22222">    suffix: 22</font>
<a name="line132">132: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_max_it 1 -tao_converged_reason</font>
<a name="line133">133: </a><font color="#B22222">    output_file: output/rosenbrock1_22.out</font>

<a name="line135">135: </a><font color="#B22222">  test:</font>
<a name="line136">136: </a><font color="#B22222">    suffix: 23</font>
<a name="line137">137: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_max_funcs 0 -tao_converged_reason</font>
<a name="line138">138: </a><font color="#B22222">    output_file: output/rosenbrock1_23.out</font>

<a name="line140">140: </a><font color="#B22222">  test:</font>
<a name="line141">141: </a><font color="#B22222">    suffix: 24</font>
<a name="line142">142: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_gatol 10 -tao_converged_reason</font>
<a name="line143">143: </a><font color="#B22222">    output_file: output/rosenbrock1_24.out</font>

<a name="line145">145: </a><font color="#B22222">  test:</font>
<a name="line146">146: </a><font color="#B22222">    suffix: 25</font>
<a name="line147">147: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_grtol 10 -tao_converged_reason</font>
<a name="line148">148: </a><font color="#B22222">    output_file: output/rosenbrock1_25.out</font>

<a name="line150">150: </a><font color="#B22222">  test:</font>
<a name="line151">151: </a><font color="#B22222">    suffix: 26</font>
<a name="line152">152: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_gttol 10 -tao_converged_reason</font>
<a name="line153">153: </a><font color="#B22222">    output_file: output/rosenbrock1_26.out</font>

<a name="line155">155: </a><font color="#B22222">  test:</font>
<a name="line156">156: </a><font color="#B22222">    suffix: 27</font>
<a name="line157">157: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_steptol 10 -tao_converged_reason</font>
<a name="line158">158: </a><font color="#B22222">    output_file: output/rosenbrock1_27.out</font>

<a name="line160">160: </a><font color="#B22222">  test:</font>
<a name="line161">161: </a><font color="#B22222">    suffix: 28</font>
<a name="line162">162: </a><font color="#B22222">    args: -mat_type aijcusparse -tao_fmin 10 -tao_converged_reason</font>
<a name="line163">163: </a><font color="#B22222">    output_file: output/rosenbrock1_28.out</font>

<a name="line165">165: </a><font color="#B22222">  test:</font>
<a name="line166">166: </a><font color="#B22222">    suffix: test_dbfgs</font>
<a name="line167">167: </a><font color="#B22222">    nsize: {{1 2 3}}</font>
<a name="line168">168: </a><font color="#B22222">    output_file: output/rosenbrock1_14.out</font>
<a name="line169">169: </a><font color="#B22222">    args: -mat_type aijcusparse -n 10 -tao_type bqnktr -test_lmvm -tao_max_it 10 -tao_bqnk_mat_type lmvmdbfgs -tao_bqnk_mat_lmvm_scale_type none -tao_bqnk_mat_lbfgs_type {{inplace reorder}} -tao_bqnk_mat_lbfgs_recursive {{0 1}}</font>

<a name="line171">171: </a><font color="#B22222">  test:</font>
<a name="line172">172: </a><font color="#B22222">    suffix: test_ddfp</font>
<a name="line173">173: </a><font color="#B22222">    nsize: {{1 2 3}}</font>
<a name="line174">174: </a><font color="#B22222">    output_file: output/rosenbrock1_14.out</font>
<a name="line175">175: </a><font color="#B22222">    args: -mat_type aijcusparse -n 10 -tao_type bqnktr -test_lmvm -tao_max_it 10 -tao_bqnk_mat_type lmvmddfp -tao_bqnk_mat_lmvm_scale_type none -tao_bqnk_mat_ldfp_type {{inplace reorder}} -tao_bqnk_mat_ldfp_recursive {{0 1}}</font>

<a name="line177">177: </a><font color="#B22222">  test:</font>
<a name="line178">178: </a><font color="#B22222">    suffix: test_dqn_1</font>
<a name="line179">179: </a><font color="#B22222">    nsize: 1</font>
<a name="line180">180: </a><font color="#B22222">    output_file: output/rosenbrock1_29.out</font>
<a name="line181">181: </a><font color="#B22222">    args: -mat_type aijcusparse -n 10 -tao_type bqnktr -test_lmvm -tao_max_it 10 -tao_bqnk_mat_type lmvmdqn -tao_bqnk_mat_lmvm_scale_type none -tao_bqnk_mat_lqn_type {{inplace reorder}}</font>

<a name="line183">183: </a><font color="#B22222">  test:</font>
<a name="line184">184: </a><font color="#B22222">    suffix: test_dqn_2</font>
<a name="line185">185: </a><font color="#B22222">    nsize: 2</font>
<a name="line186">186: </a><font color="#B22222">    output_file: output/rosenbrock1_30.out</font>
<a name="line187">187: </a><font color="#B22222">    args: -mat_type aijcusparse -n 10 -tao_type bqnktr -test_lmvm -tao_max_it 10 -tao_bqnk_mat_type lmvmdqn -tao_bqnk_mat_lmvm_scale_type none -tao_bqnk_mat_lqn_type {{inplace reorder}}</font>

<a name="line189">189: </a><font color="#B22222">  test:</font>
<a name="line190">190: </a><font color="#B22222">    suffix: test_dqn_3</font>
<a name="line191">191: </a><font color="#B22222">    nsize: 3</font>
<a name="line192">192: </a><font color="#B22222">    output_file: output/rosenbrock1_31.out</font>
<a name="line193">193: </a><font color="#B22222">    args: -mat_type aijcusparse -n 10 -tao_type bqnktr -test_lmvm -tao_max_it 10 -tao_bqnk_mat_type lmvmdqn -tao_bqnk_mat_lmvm_scale_type none -tao_bqnk_mat_lqn_type {{inplace reorder}}</font>

<a name="line195">195: </a><font color="#B22222">TEST*/</font>
</pre>
</body>

</html>

