<center><a href="https://gitlab.com/petsc/petsc/-/blob/5dc3a7e53abaaf0217a05b4d5581e5bcf5647ae8/src/dm/partitioner/impls/ptscotch/partptscotch.c">Actual source code: partptscotch.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.6">
<meta name="date" content="2025-01-29T22:55:31+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width=80>
<a name="line1">  1: </a>#include <A href="../../../../include/petsc/private/partitionerimpl.h.html">&lt;petsc/private/partitionerimpl.h&gt;</A>

<a name="line3">  3: </a><font color="#A020F0">#if defined(PETSC_HAVE_PTSCOTCH)</font>
<a name="line4">  4: </a>EXTERN_C_BEGIN
<a name="line5">  5: </a><font color="#A020F0">  #include &lt;ptscotch.h&gt;</font>
<a name="line6">  6: </a>EXTERN_C_END
<a name="line7">  7: </a><font color="#A020F0">#endif</font>

<a name="line9">  9: </a><a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>  PTScotchPartitionerCite       = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line10"> 10: </a>const char PTScotchPartitionerCitation[] = <font color="#666666">"@article{PTSCOTCH,\n"</font>
<a name="line11"> 11: </a>                                           <font color="#666666">"  author  = {C. Chevalier and F. Pellegrini},\n"</font>
<a name="line12"> 12: </a>                                           <font color="#666666">"  title   = {{PT-SCOTCH}: a tool for efficient parallel graph ordering},\n"</font>
<a name="line13"> 13: </a>                                           <font color="#666666">"  journal = {Parallel Computing},\n"</font>
<a name="line14"> 14: </a>                                           <font color="#666666">"  volume  = {34},\n"</font>
<a name="line15"> 15: </a>                                           <font color="#666666">"  number  = {6},\n"</font>
<a name="line16"> 16: </a>                                           <font color="#666666">"  pages   = {318--331},\n"</font>
<a name="line17"> 17: </a>                                           <font color="#666666">"  year    = {2008},\n"</font>
<a name="line18"> 18: </a>                                           <font color="#666666">"  doi     = {https://doi.org/10.1016/j.parco.2007.12.001}\n"</font>
<a name="line19"> 19: </a>                                           <font color="#666666">"}\n"</font>;

<a name="line21"> 21: </a><font color="#4169E1">typedef</font> <font color="#4169E1">struct</font> {
<a name="line22"> 22: </a>  <a href="../../../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a>  pcomm;
<a name="line23"> 23: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>  strategy;
<a name="line24"> 24: </a>  <a href="../../../../../manualpages/Sys/PetscReal.html">PetscReal</a> imbalance;
<a name="line25"> 25: </a>} PetscPartitioner_PTScotch;

<a name="line27"> 27: </a><font color="#A020F0">#if defined(PETSC_HAVE_PTSCOTCH)</font>

<a name="line29"> 29: </a><strong><font color="#228B22">  #define PetscCallPTSCOTCH(...) \</font></strong>
<a name="line30"> 30: </a><strong><font color="#228B22">    do { \</font></strong>
<a name="line31"> 31: </a><strong><font color="#228B22">      <a href="../../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(!(__VA_ARGS__), <a href="../../../../../manualpages/Sys/PETSC_COMM_SELF.html">PETSC_COMM_SELF</a>, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_LIB</a>, </font><font color="#666666">"Error calling PT-Scotch library"</font><font color="#228B22">); \</font></strong>
<a name="line32"> 32: </a><strong><font color="#228B22">    } while (0)</font></strong>

<a name="line34"> 34: </a><strong><font color="#4169E1"><a name="PTScotch_Strategy"></a>static int PTScotch_Strategy(<a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> strategy)</font></strong>
<a name="line35"> 35: </a>{
<a name="line36"> 36: </a>  <font color="#4169E1">switch</font> (strategy) {
<a name="line37"> 37: </a>  <font color="#4169E1">case</font> 0:
<a name="line38"> 38: </a>    <font color="#4169E1">return</font> SCOTCH_STRATDEFAULT;
<a name="line39"> 39: </a>  <font color="#4169E1">case</font> 1:
<a name="line40"> 40: </a>    <font color="#4169E1">return</font> SCOTCH_STRATQUALITY;
<a name="line41"> 41: </a>  <font color="#4169E1">case</font> 2:
<a name="line42"> 42: </a>    <font color="#4169E1">return</font> SCOTCH_STRATSPEED;
<a name="line43"> 43: </a>  <font color="#4169E1">case</font> 3:
<a name="line44"> 44: </a>    <font color="#4169E1">return</font> SCOTCH_STRATBALANCE;
<a name="line45"> 45: </a>  <font color="#4169E1">case</font> 4:
<a name="line46"> 46: </a>    <font color="#4169E1">return</font> SCOTCH_STRATSAFETY;
<a name="line47"> 47: </a>  <font color="#4169E1">case</font> 5:
<a name="line48"> 48: </a>    <font color="#4169E1">return</font> SCOTCH_STRATSCALABILITY;
<a name="line49"> 49: </a>  <font color="#4169E1">case</font> 6:
<a name="line50"> 50: </a>    <font color="#4169E1">return</font> SCOTCH_STRATRECURSIVE;
<a name="line51"> 51: </a>  <font color="#4169E1">case</font> 7:
<a name="line52"> 52: </a>    <font color="#4169E1">return</font> SCOTCH_STRATREMAP;
<a name="line53"> 53: </a>  <font color="#4169E1">default</font>:
<a name="line54"> 54: </a>    <font color="#4169E1">return</font> SCOTCH_STRATDEFAULT;
<a name="line55"> 55: </a>  }
<a name="line56"> 56: </a>}

<a name="line58"> 58: </a><strong><font color="#4169E1"><a name="PTScotch_PartGraph_Seq"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PTScotch_PartGraph_Seq(SCOTCH_Num strategy, double imbalance, SCOTCH_Num n, SCOTCH_Num xadj[], SCOTCH_Num adjncy[], SCOTCH_Num vtxwgt[], SCOTCH_Num adjwgt[], SCOTCH_Num nparts, SCOTCH_Num tpart[], SCOTCH_Num part[])</font></strong>
<a name="line59"> 59: </a>{
<a name="line60"> 60: </a>  SCOTCH_Arch  archdat;
<a name="line61"> 61: </a>  SCOTCH_Graph grafdat;
<a name="line62"> 62: </a>  SCOTCH_Strat stradat;
<a name="line63"> 63: </a>  SCOTCH_Num   vertnbr = n;
<a name="line64"> 64: </a>  SCOTCH_Num   edgenbr = xadj[n];
<a name="line65"> 65: </a>  SCOTCH_Num  *velotab = vtxwgt;
<a name="line66"> 66: </a>  SCOTCH_Num  *edlotab = adjwgt;
<a name="line67"> 67: </a>  SCOTCH_Num   flagval = strategy;
<a name="line68"> 68: </a>  double       kbalval = imbalance;

<a name="line70"> 70: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line71"> 71: </a>  <font color="#4169E1">if</font> (!n) <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line72"> 72: </a>  {
<a name="line73"> 73: </a>    <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> flg = <a href="../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line74"> 74: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PetscOptionsDeprecatedNoObject(<font color="#666666">"-petscpartititoner_ptscotch_vertex_weight"</font>, <font color="#666666">"-petscpartitioner_use_vertex_weights"</font>, <font color="#666666">"3.13"</font>, NULL));
<a name="line75"> 75: </a>    <font color="#B22222">/*</font>
<a name="line76"> 76: </a><font color="#B22222">       Cannot remove the <a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>() below since the PetscOptionsDeprecatedNoObject() above is called after the non-deprecated version</font>
<a name="line77"> 77: </a><font color="#B22222">       has already been checked in <a href="../../../../../manualpages/DM/PetscPartitionerSetFromOptions.html">PetscPartitionerSetFromOptions</a>().</font>
<a name="line78"> 78: </a><font color="#B22222">    */</font>
<a name="line79"> 79: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>(NULL, NULL, <font color="#666666">"-petscpartititoner_use_vertex_weight"</font>, &amp;flg, NULL));
<a name="line80"> 80: </a>    <font color="#4169E1">if</font> (!flg) velotab = NULL;
<a name="line81"> 81: </a>  }
<a name="line82"> 82: </a>  PetscCallPTSCOTCH(SCOTCH_graphInit(&amp;grafdat));
<a name="line83"> 83: </a>  PetscCallPTSCOTCH(SCOTCH_graphBuild(&amp;grafdat, 0, vertnbr, xadj, xadj + 1, velotab, NULL, edgenbr, adjncy, edlotab));
<a name="line84"> 84: </a>  PetscCallPTSCOTCH(SCOTCH_stratInit(&amp;stradat));
<a name="line85"> 85: </a>  PetscCallPTSCOTCH(SCOTCH_stratGraphMapBuild(&amp;stradat, flagval, nparts, kbalval));
<a name="line86"> 86: </a>  PetscCallPTSCOTCH(SCOTCH_archInit(&amp;archdat));
<a name="line87"> 87: </a>  <font color="#4169E1">if</font> (tpart) {
<a name="line88"> 88: </a>    PetscCallPTSCOTCH(SCOTCH_archCmpltw(&amp;archdat, <a href="../../../../../manualpages/Sys/PetscMin.html">PetscMin</a>(nparts, n), tpart));
<a name="line89"> 89: </a>  } <font color="#4169E1">else</font> {
<a name="line90"> 90: </a>    PetscCallPTSCOTCH(SCOTCH_archCmplt(&amp;archdat, <a href="../../../../../manualpages/Sys/PetscMin.html">PetscMin</a>(nparts, n)));
<a name="line91"> 91: </a>  }
<a name="line92"> 92: </a>  PetscCallPTSCOTCH(SCOTCH_graphMap(&amp;grafdat, &amp;archdat, &amp;stradat, part));
<a name="line93"> 93: </a>  SCOTCH_archExit(&amp;archdat);
<a name="line94"> 94: </a>  SCOTCH_stratExit(&amp;stradat);
<a name="line95"> 95: </a>  SCOTCH_graphExit(&amp;grafdat);
<a name="line96"> 96: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line97"> 97: </a>}

<a name="line99"> 99: </a><strong><font color="#4169E1"><a name="PTScotch_PartGraph_MPI"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PTScotch_PartGraph_MPI(SCOTCH_Num strategy, double imbalance, SCOTCH_Num vtxdist[], SCOTCH_Num xadj[], SCOTCH_Num adjncy[], SCOTCH_Num vtxwgt[], SCOTCH_Num adjwgt[], SCOTCH_Num nparts, SCOTCH_Num tpart[], SCOTCH_Num part[], <a href="../../../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a> comm)</font></strong>
<a name="line100">100: </a>{
<a name="line101">101: </a>  <a href="../../../../../manualpages/Sys/PetscMPIInt.html">PetscMPIInt</a>     procglbnbr;
<a name="line102">102: </a>  <a href="../../../../../manualpages/Sys/PetscMPIInt.html">PetscMPIInt</a>     proclocnum;
<a name="line103">103: </a>  SCOTCH_Arch     archdat;
<a name="line104">104: </a>  SCOTCH_Dgraph   grafdat;
<a name="line105">105: </a>  SCOTCH_Dmapping mappdat;
<a name="line106">106: </a>  SCOTCH_Strat    stradat;
<a name="line107">107: </a>  SCOTCH_Num      vertlocnbr;
<a name="line108">108: </a>  SCOTCH_Num      edgelocnbr;
<a name="line109">109: </a>  SCOTCH_Num     *veloloctab = vtxwgt;
<a name="line110">110: </a>  SCOTCH_Num     *edloloctab = adjwgt;
<a name="line111">111: </a>  SCOTCH_Num      flagval    = strategy;
<a name="line112">112: </a>  double          kbalval    = imbalance;

<a name="line114">114: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line115">115: </a>  {
<a name="line116">116: </a>    <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> flg = <a href="../../../../../manualpages/Sys/PETSC_TRUE.html">PETSC_TRUE</a>;
<a name="line117">117: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PetscOptionsDeprecatedNoObject(<font color="#666666">"-petscpartititoner_ptscotch_vertex_weight"</font>, <font color="#666666">"-petscpartitioner_use_vertex_weights"</font>, <font color="#666666">"3.13"</font>, NULL));
<a name="line118">118: </a>    <font color="#B22222">/*</font>
<a name="line119">119: </a><font color="#B22222">       Cannot remove the <a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>() below since the PetscOptionsDeprecatedNoObject() above is called after the non-deprecated version</font>
<a name="line120">120: </a><font color="#B22222">       has already been checked in <a href="../../../../../manualpages/DM/PetscPartitionerSetFromOptions.html">PetscPartitionerSetFromOptions</a>().</font>
<a name="line121">121: </a><font color="#B22222">    */</font>
<a name="line122">122: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsGetBool.html">PetscOptionsGetBool</a>(NULL, NULL, <font color="#666666">"-petscpartititoner_use_vertex_weight"</font>, &amp;flg, NULL));
<a name="line123">123: </a>    <font color="#4169E1">if</font> (!flg) veloloctab = NULL;
<a name="line124">124: </a>  }
<a name="line125">125: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_size.html#MPI_Comm_size">MPI_Comm_size</a>(comm, &amp;procglbnbr));
<a name="line126">126: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_rank.html#MPI_Comm_rank">MPI_Comm_rank</a>(comm, &amp;proclocnum));
<a name="line127">127: </a>  vertlocnbr = vtxdist[proclocnum + 1] - vtxdist[proclocnum];
<a name="line128">128: </a>  edgelocnbr = xadj[vertlocnbr];

<a name="line130">130: </a>  PetscCallPTSCOTCH(SCOTCH_dgraphInit(&amp;grafdat, comm));
<a name="line131">131: </a>  PetscCallPTSCOTCH(SCOTCH_dgraphBuild(&amp;grafdat, 0, vertlocnbr, vertlocnbr, xadj, xadj + 1, veloloctab, NULL, edgelocnbr, edgelocnbr, adjncy, NULL, edloloctab));
<a name="line132">132: </a>  PetscCallPTSCOTCH(SCOTCH_stratInit(&amp;stradat));
<a name="line133">133: </a>  PetscCallPTSCOTCH(SCOTCH_stratDgraphMapBuild(&amp;stradat, flagval, procglbnbr, nparts, kbalval));
<a name="line134">134: </a>  PetscCallPTSCOTCH(SCOTCH_archInit(&amp;archdat));
<a name="line135">135: </a>  <font color="#4169E1">if</font> (tpart) { <font color="#B22222">/* target partition weights */</font>
<a name="line136">136: </a>    PetscCallPTSCOTCH(SCOTCH_archCmpltw(&amp;archdat, nparts, tpart));
<a name="line137">137: </a>  } <font color="#4169E1">else</font> {
<a name="line138">138: </a>    PetscCallPTSCOTCH(SCOTCH_archCmplt(&amp;archdat, nparts));
<a name="line139">139: </a>  }
<a name="line140">140: </a>  PetscCallPTSCOTCH(SCOTCH_dgraphMapInit(&amp;grafdat, &amp;mappdat, &amp;archdat, part));
<a name="line141">141: </a>  PetscCallPTSCOTCH(SCOTCH_dgraphMapCompute(&amp;grafdat, &amp;mappdat, &amp;stradat));
<a name="line142">142: </a>  SCOTCH_dgraphMapExit(&amp;grafdat, &amp;mappdat);
<a name="line143">143: </a>  SCOTCH_archExit(&amp;archdat);
<a name="line144">144: </a>  SCOTCH_stratExit(&amp;stradat);
<a name="line145">145: </a>  SCOTCH_dgraphExit(&amp;grafdat);
<a name="line146">146: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line147">147: </a>}

<a name="line149">149: </a><font color="#A020F0">#endif </font><font color="#B22222">/* PETSC_HAVE_PTSCOTCH */</font><font color="#A020F0"></font>

<a name="line151">151: </a>static const char *const PTScotchStrategyList[] = {<font color="#666666">"DEFAULT"</font>, <font color="#666666">"QUALITY"</font>, <font color="#666666">"SPEED"</font>, <font color="#666666">"BALANCE"</font>, <font color="#666666">"SAFETY"</font>, <font color="#666666">"SCALABILITY"</font>, <font color="#666666">"RECURSIVE"</font>, <font color="#666666">"REMAP"</font>};

<a name="line153">153: </a><strong><font color="#4169E1"><a name="PetscPartitionerDestroy_PTScotch"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerDestroy_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part)</font></strong>
<a name="line154">154: </a>{
<a name="line155">155: </a>  PetscPartitioner_PTScotch *p = (PetscPartitioner_PTScotch *)part-&gt;data;

<a name="line157">157: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line158">158: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_free.html#MPI_Comm_free">MPI_Comm_free</a>(&amp;p-&gt;pcomm));
<a name="line159">159: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(part-&gt;data));
<a name="line160">160: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line161">161: </a>}

<a name="line163">163: </a><strong><font color="#4169E1"><a name="PetscPartitionerView_PTScotch_ASCII"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerView_PTScotch_ASCII(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part, <a href="../../../../../manualpages/Viewer/PetscViewer.html">PetscViewer</a> viewer)</font></strong>
<a name="line164">164: </a>{
<a name="line165">165: </a>  PetscPartitioner_PTScotch *p = (PetscPartitioner_PTScotch *)part-&gt;data;

<a name="line167">167: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line168">168: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Viewer/PetscViewerASCIIPushTab.html">PetscViewerASCIIPushTab</a>(viewer));
<a name="line169">169: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Viewer/PetscViewerASCIIPrintf.html">PetscViewerASCIIPrintf</a>(viewer, <font color="#666666">"using partitioning strategy %s\n"</font>, PTScotchStrategyList[p-&gt;strategy]));
<a name="line170">170: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Viewer/PetscViewerASCIIPrintf.html">PetscViewerASCIIPrintf</a>(viewer, <font color="#666666">"using load imbalance ratio %g\n"</font>, (double)p-&gt;imbalance));
<a name="line171">171: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Viewer/PetscViewerASCIIPopTab.html">PetscViewerASCIIPopTab</a>(viewer));
<a name="line172">172: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line173">173: </a>}

<a name="line175">175: </a><strong><font color="#4169E1"><a name="PetscPartitionerView_PTScotch"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerView_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part, <a href="../../../../../manualpages/Viewer/PetscViewer.html">PetscViewer</a> viewer)</font></strong>
<a name="line176">176: </a>{
<a name="line177">177: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a> iascii;

<a name="line179">179: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line182">182: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscObjectTypeCompare.html">PetscObjectTypeCompare</a>((<a href="../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)viewer, <a href="../../../../../manualpages/Viewer/PETSCVIEWERASCII.html">PETSCVIEWERASCII</a>, &amp;iascii));
<a name="line183">183: </a>  <font color="#4169E1">if</font> (iascii) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PetscPartitionerView_PTScotch_ASCII(part, viewer));
<a name="line184">184: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line185">185: </a>}

<a name="line187">187: </a><strong><font color="#4169E1"><a name="PetscPartitionerSetFromOptions_PTScotch"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerSetFromOptions_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part, PetscOptionItems *PetscOptionsObject)</font></strong>
<a name="line188">188: </a>{
<a name="line189">189: </a>  PetscPartitioner_PTScotch *p     = (PetscPartitioner_PTScotch *)part-&gt;data;
<a name="line190">190: </a>  const char *const         *slist = PTScotchStrategyList;
<a name="line191">191: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>                   nlist = <a href="../../../../../manualpages/Sys/PETSC_STATIC_ARRAY_LENGTH.html">PETSC_STATIC_ARRAY_LENGTH</a>(PTScotchStrategyList);
<a name="line192">192: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>                  flag;

<a name="line194">194: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line195">195: </a>  <a href="../../../../../manualpages/Sys/PetscOptionsHeadBegin.html">PetscOptionsHeadBegin</a>(PetscOptionsObject, <font color="#666666">"<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> PTScotch Options"</font>);
<a name="line196">196: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsEList.html">PetscOptionsEList</a>(<font color="#666666">"-petscpartitioner_ptscotch_strategy"</font>, <font color="#666666">"Partitioning strategy"</font>, <font color="#666666">""</font>, slist, nlist, slist[p-&gt;strategy], &amp;p-&gt;strategy, &amp;flag));
<a name="line197">197: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscOptionsReal.html">PetscOptionsReal</a>(<font color="#666666">"-petscpartitioner_ptscotch_imbalance"</font>, <font color="#666666">"Load imbalance ratio"</font>, <font color="#666666">""</font>, p-&gt;imbalance, &amp;p-&gt;imbalance, &amp;flag));
<a name="line198">198: </a>  <a href="../../../../../manualpages/Sys/PetscOptionsHeadEnd.html">PetscOptionsHeadEnd</a>();
<a name="line199">199: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line200">200: </a>}

<a name="line202">202: </a><strong><font color="#4169E1"><a name="PetscPartitionerPartition_PTScotch"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerPartition_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part, <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> nparts, <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> numVertices, <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> start[], <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> adjacency[], <a href="../../../../../manualpages/PetscSection/PetscSection.html">PetscSection</a> vertSection, <a href="../../../../../manualpages/PetscSection/PetscSection.html">PetscSection</a> edgeSection, <a href="../../../../../manualpages/PetscSection/PetscSection.html">PetscSection</a> targetSection, <a href="../../../../../manualpages/PetscSection/PetscSection.html">PetscSection</a> partSection, <a href="../../../../../manualpages/IS/IS.html">IS</a> *partition)</font></strong>
<a name="line203">203: </a>{
<a name="line204">204: </a><font color="#A020F0">#if defined(PETSC_HAVE_PTSCOTCH)</font>
<a name="line205">205: </a>  <a href="../../../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a>    comm;
<a name="line206">206: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>    nvtxs = numVertices; <font color="#B22222">/* The number of vertices in full graph */</font>
<a name="line207">207: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *vtxdist;             <font color="#B22222">/* Distribution of vertices across processes */</font>
<a name="line208">208: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *xadj   = start;      <font color="#B22222">/* Start of edge list for each vertex */</font>
<a name="line209">209: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *adjncy = adjacency;  <font color="#B22222">/* Edge lists for all vertices */</font>
<a name="line210">210: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *vwgt   = NULL;       <font color="#B22222">/* Vertex weights */</font>
<a name="line211">211: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *adjwgt = NULL;       <font color="#B22222">/* Edge weights */</font>
<a name="line212">212: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>    v, i, *assignment, *points;
<a name="line213">213: </a>  <a href="../../../../../manualpages/Sys/PetscMPIInt.html">PetscMPIInt</a> size, rank, p;
<a name="line214">214: </a>  <a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>   hasempty = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line215">215: </a>  <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a>   *tpwgts   = NULL;

<a name="line217">217: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line218">218: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscObjectGetComm.html">PetscObjectGetComm</a>((<a href="../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)part, &amp;comm));
<a name="line219">219: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_size.html#MPI_Comm_size">MPI_Comm_size</a>(comm, &amp;size));
<a name="line220">220: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_rank.html#MPI_Comm_rank">MPI_Comm_rank</a>(comm, &amp;rank));
<a name="line221">221: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscMalloc2.html">PetscMalloc2</a>(size + 1, &amp;vtxdist, <a href="../../../../../manualpages/Sys/PetscMax.html">PetscMax</a>(nvtxs, 1), &amp;assignment));
<a name="line222">222: </a>  <font color="#B22222">/* Calculate vertex distribution */</font>
<a name="line223">223: </a>  vtxdist[0] = 0;
<a name="line224">224: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Allgather.html#MPI_Allgather">MPI_Allgather</a>(&amp;nvtxs, 1, <a href="../../../../../manualpages/Sys/MPIU_INT.html">MPIU_INT</a>, &amp;vtxdist[1], 1, <a href="../../../../../manualpages/Sys/MPIU_INT.html">MPIU_INT</a>, comm));
<a name="line225">225: </a>  <font color="#4169E1">for</font> (p = 2; p &lt;= size; ++p) {
<a name="line226">226: </a>    hasempty = (<a href="../../../../../manualpages/Sys/PetscBool.html">PetscBool</a>)(hasempty || !vtxdist[p - 1] || !vtxdist[p]);
<a name="line227">227: </a>    vtxdist[p] += vtxdist[p - 1];
<a name="line228">228: </a>  }
<a name="line229">229: </a>  <font color="#B22222">/* null graph */</font>
<a name="line230">230: </a>  <font color="#4169E1">if</font> (vtxdist[size] == 0) {
<a name="line231">231: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree2.html">PetscFree2</a>(vtxdist, assignment));
<a name="line232">232: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(comm, 0, NULL, <a href="../../../../../manualpages/Sys/PetscCopyMode.html">PETSC_OWN_POINTER</a>, partition));
<a name="line233">233: </a>    <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line234">234: </a>  }

<a name="line236">236: </a>  <font color="#B22222">/* Calculate vertex weights */</font>
<a name="line237">237: </a>  <font color="#4169E1">if</font> (vertSection) {
<a name="line238">238: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(nvtxs, &amp;vwgt));
<a name="line239">239: </a>    <font color="#4169E1">for</font> (v = 0; v &lt; nvtxs; ++v) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/PetscSection/PetscSectionGetDof.html">PetscSectionGetDof</a>(vertSection, v, &amp;vwgt[v]));
<a name="line240">240: </a>  }
<a name="line241">241: </a>  <font color="#B22222">// Weight edges</font>
<a name="line242">242: </a>  <font color="#4169E1">if</font> (edgeSection) {
<a name="line243">243: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(xadj[nvtxs], &amp;adjwgt));
<a name="line244">244: </a>    <font color="#4169E1">for</font> (<a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> e = 0; e &lt; xadj[nvtxs]; ++e) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/PetscSection/PetscSectionGetDof.html">PetscSectionGetDof</a>(edgeSection, e, &amp;adjwgt[e]));
<a name="line245">245: </a>  }

<a name="line247">247: </a>  <font color="#B22222">/* Calculate partition weights */</font>
<a name="line248">248: </a>  <font color="#4169E1">if</font> (targetSection) {
<a name="line249">249: </a>    <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> sumw;

<a name="line251">251: </a>    <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscCalloc1.html">PetscCalloc1</a>(nparts, &amp;tpwgts));
<a name="line252">252: </a>    <font color="#4169E1">for</font> (p = 0, sumw = 0; p &lt; nparts; ++p) {
<a name="line253">253: </a>      <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/PetscSection/PetscSectionGetDof.html">PetscSectionGetDof</a>(targetSection, p, &amp;tpwgts[p]));
<a name="line254">254: </a>      sumw += tpwgts[p];
<a name="line255">255: </a>    }
<a name="line256">256: </a>    <font color="#4169E1">if</font> (!sumw) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(tpwgts));
<a name="line257">257: </a>  }

<a name="line259">259: </a>  {
<a name="line260">260: </a>    PetscPartitioner_PTScotch *pts   = (PetscPartitioner_PTScotch *)part-&gt;data;
<a name="line261">261: </a>    int                        strat = PTScotch_Strategy(pts-&gt;strategy);
<a name="line262">262: </a>    double                     imbal = (double)pts-&gt;imbalance;

<a name="line264">264: </a>    <font color="#4169E1">for</font> (p = 0; !vtxdist[p + 1] &amp;&amp; p &lt; size; ++p);
<a name="line265">265: </a>    <font color="#4169E1">if</font> (vtxdist[p + 1] == vtxdist[size]) {
<a name="line266">266: </a>      <font color="#4169E1">if</font> (rank == p) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PTScotch_PartGraph_Seq(strat, imbal, nvtxs, xadj, adjncy, vwgt, adjwgt, nparts, tpwgts, assignment));
<a name="line267">267: </a>    } <font color="#4169E1">else</font> {
<a name="line268">268: </a>      <a href="../../../../../manualpages/Sys/MPI_Comm.html">MPI_Comm</a> pcomm = pts-&gt;pcomm;

<a name="line270">270: </a>      <font color="#4169E1">if</font> (hasempty) {
<a name="line271">271: </a>        <a href="../../../../../manualpages/Sys/PetscInt.html">PetscInt</a> cnt;

<a name="line273">273: </a>        <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_split.html#MPI_Comm_split">MPI_Comm_split</a>(pts-&gt;pcomm, !!nvtxs, rank, &amp;pcomm));
<a name="line274">274: </a>        <font color="#4169E1">for</font> (p = 0, cnt = 0; p &lt; size; p++) {
<a name="line275">275: </a>          <font color="#4169E1">if</font> (vtxdist[p + 1] != vtxdist[p]) {
<a name="line276">276: </a>            vtxdist[cnt + 1] = vtxdist[p + 1];
<a name="line277">277: </a>            cnt++;
<a name="line278">278: </a>          }
<a name="line279">279: </a>        }
<a name="line280">280: </a>      }
<a name="line281">281: </a>      <font color="#4169E1">if</font> (nvtxs) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PTScotch_PartGraph_MPI(strat, imbal, vtxdist, xadj, adjncy, vwgt, adjwgt, nparts, tpwgts, assignment, pcomm));
<a name="line282">282: </a>      <font color="#4169E1">if</font> (hasempty) <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_free.html#MPI_Comm_free">MPI_Comm_free</a>(&amp;pcomm));
<a name="line283">283: </a>    }
<a name="line284">284: </a>  }
<a name="line285">285: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(vwgt));
<a name="line286">286: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(adjwgt));
<a name="line287">287: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree.html">PetscFree</a>(tpwgts));

<a name="line289">289: </a>  <font color="#B22222">/* Convert to <a href="../../../../../manualpages/PetscSection/PetscSection.html">PetscSection</a>+<a href="../../../../../manualpages/IS/IS.html">IS</a> */</font>
<a name="line290">290: </a>  <font color="#4169E1">for</font> (v = 0; v &lt; nvtxs; ++v) <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/PetscSection/PetscSectionAddDof.html">PetscSectionAddDof</a>(partSection, assignment[v], 1));
<a name="line291">291: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscMalloc1.html">PetscMalloc1</a>(nvtxs, &amp;points));
<a name="line292">292: </a>  <font color="#4169E1">for</font> (p = 0, i = 0; p &lt; nparts; ++p) {
<a name="line293">293: </a>    <font color="#4169E1">for</font> (v = 0; v &lt; nvtxs; ++v) {
<a name="line294">294: </a>      <font color="#4169E1">if</font> (assignment[v] == p) points[i++] = v;
<a name="line295">295: </a>    }
<a name="line296">296: </a>  }
<a name="line297">297: </a>  <a href="../../../../../manualpages/Sys/PetscCheck.html">PetscCheck</a>(i == nvtxs, comm, <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_PLIB</a>, <font color="#666666">"Number of points %"</font> PetscInt_FMT <font color="#666666">" should be %"</font> PetscInt_FMT, i, nvtxs);
<a name="line298">298: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/IS/ISCreateGeneral.html">ISCreateGeneral</a>(comm, nvtxs, points, <a href="../../../../../manualpages/Sys/PetscCopyMode.html">PETSC_OWN_POINTER</a>, partition));

<a name="line300">300: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscFree2.html">PetscFree2</a>(vtxdist, assignment));
<a name="line301">301: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line302">302: </a><font color="#A020F0">#else</font>
<a name="line303">303: </a>  <a href="../../../../../manualpages/Sys/SETERRQ.html">SETERRQ</a>(<a href="../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)part), <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_ERR_SUP</a>, <font color="#666666">"Mesh partitioning needs external package support.\nPlease reconfigure with --download-ptscotch."</font>);
<a name="line304">304: </a><font color="#A020F0">#endif</font>
<a name="line305">305: </a>}

<a name="line307">307: </a><strong><font color="#4169E1"><a name="PetscPartitionerInitialize_PTScotch"></a>static <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerInitialize_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part)</font></strong>
<a name="line308">308: </a>{
<a name="line309">309: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line310">310: </a>  part-&gt;noGraph             = <a href="../../../../../manualpages/Sys/PETSC_FALSE.html">PETSC_FALSE</a>;
<a name="line311">311: </a>  part-&gt;ops-&gt;view           = PetscPartitionerView_PTScotch;
<a name="line312">312: </a>  part-&gt;ops-&gt;destroy        = PetscPartitionerDestroy_PTScotch;
<a name="line313">313: </a>  part-&gt;ops-&gt;partition      = PetscPartitionerPartition_PTScotch;
<a name="line314">314: </a>  part-&gt;ops-&gt;setfromoptions = PetscPartitionerSetFromOptions_PTScotch;
<a name="line315">315: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line316">316: </a>}

<a name="line318">318: </a><font color="#B22222">/*MC</font>
<a name="line319">319: </a><font color="#B22222">  <a href="../../../../../manualpages/DM/PETSCPARTITIONERPTSCOTCH.html">PETSCPARTITIONERPTSCOTCH</a> = "ptscotch" - A <a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> object using the PT-Scotch library</font>

<a name="line321">321: </a><font color="#B22222">  Level: intermediate</font>

<a name="line323">323: </a><font color="#B22222">  Options Database Keys:</font>
<a name="line324">324: </a><font color="#B22222">+  -petscpartitioner_ptscotch_strategy &lt;string&gt; - PT-Scotch strategy. Choose one of default quality speed balance safety scalability recursive remap</font>
<a name="line325">325: </a><font color="#B22222">-  -petscpartitioner_ptscotch_imbalance &lt;val&gt; - Load imbalance ratio</font>

<a name="line327">327: </a><font color="#B22222">  Notes: when the graph is on a single process, this partitioner actually uses Scotch and not PT-Scotch</font>

<a name="line329">329: </a><font color="#B22222">.seealso: `<a href="../../../../../manualpages/MatGraphOperations/PetscPartitionerType.html">PetscPartitionerType</a>`, `<a href="../../../../../manualpages/DM/PetscPartitionerCreate.html">PetscPartitionerCreate</a>()`, `<a href="../../../../../manualpages/DM/PetscPartitionerSetType.html">PetscPartitionerSetType</a>()`</font>
<a name="line330">330: </a><font color="#B22222">M*/</font>

<a name="line332">332: </a><strong><font color="#4169E1"><a name="PetscPartitionerCreate_PTScotch"></a>PETSC_EXTERN <a href="../../../../../manualpages/Sys/PetscErrorCode.html">PetscErrorCode</a> PetscPartitionerCreate_PTScotch(<a href="../../../../../manualpages/MatGraphOperations/PetscPartitioner.html">PetscPartitioner</a> part)</font></strong>
<a name="line333">333: </a>{
<a name="line334">334: </a>  PetscPartitioner_PTScotch *p;

<a name="line336">336: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionBegin.html">PetscFunctionBegin</a>;
<a name="line338">338: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscNew.html">PetscNew</a>(&amp;p));
<a name="line339">339: </a>  part-&gt;data = p;

<a name="line341">341: </a>  <a href="../../../../../manualpages/Sys/PetscCallMPI.html">PetscCallMPI</a>(<a href="http://www.mpich.org/static/docs/latest/www3/MPI_Comm_dup.html#MPI_Comm_dup">MPI_Comm_dup</a>(<a href="../../../../../manualpages/Sys/PetscObjectComm.html">PetscObjectComm</a>((<a href="../../../../../manualpages/Sys/PetscObject.html">PetscObject</a>)part), &amp;p-&gt;pcomm));
<a name="line342">342: </a>  p-&gt;strategy  = 0;
<a name="line343">343: </a>  p-&gt;imbalance = 0.01;

<a name="line345">345: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(PetscPartitionerInitialize_PTScotch(part));
<a name="line346">346: </a>  <a href="../../../../../manualpages/Sys/PetscCall.html">PetscCall</a>(<a href="../../../../../manualpages/Sys/PetscCitationsRegister.html">PetscCitationsRegister</a>(PTScotchPartitionerCitation, &amp;PTScotchPartitionerCite));
<a name="line347">347: </a>  <a href="../../../../../manualpages/Sys/PetscFunctionReturn.html">PetscFunctionReturn</a>(<a href="../../../../../manualpages/Sys/PetscErrorCode.html">PETSC_SUCCESS</a>);
<a name="line348">348: </a>}
</pre>
</body>

</html>

